<template>
	<view>
		
	</view>
</template>

<script>
	export default {
		data() {
			return {
				
			}
		},
		onLoad(option) {
			var page = option.pageName
			console.log(page);
			uni.redirectTo({
				url:page
			})
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
