<script>
	export default {
		globalData: {
			isLogin:false,
			urlHead: "http://124.93.196.45:10001"
			// urlHead: "http://10.10.230.112:10001"
		},
		onLaunch: function() {
			console.log('App Launch')
		},
		onShow: function() {
			console.log('App Show')
		},
		onHide: function() {
			console.log('App Hide')
		}
	}
</script>

<style>
	/*每个页面公共css */
</style>
