<template>
	<view style="display: flex;flex-direction: row;flex-wrap: wrap;" class="allService">
		<block v-for="(item,index) in serviceList" :key="index">
			<view class="serviceRow">
				<view @click="gotoService(index)">
					<image :src="getImgUrl(item.imgUrl)" mode="aspectFit"
						class="serviceItemImage" />
					<view class="serviceItemText">{{item.serviceName}}</view>
				</view>
			</view>
		</block>

	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				serviceList: []
			}
		},
		onLoad() {
			this.getAllServiceList();
		},
		methods: {
			gotoService(index) {
				var ulink = "../home/" + this.serviceList[index].link
				console.log(ulink);
				uni.navigateTo({
					url: ulink
				})
			},
			getAllServiceList() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/service/list",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						that.serviceList = data.rows
					}
				})
			},
			getImgUrl(item) {
				return urlHead + item;
			}

		}
	}
</script>

<style>
	.allService {
		margin: 24rpx;
	}

	.serviceRow {
		width: 20%;
		margin-top: 16rpx;
	}

	.serviceItemImage {
		width: 100%;
		height: 126rpx;
	}

	.serviceItemText {
		font-size: 28rpx;
		text-align: center;
	}
</style>
