<template>
	<view>
		<swiper indicator-dots autoplay interval="2500" class="banner">
			<block v-for="(item,index) in bannerList" :key="index">
				<swiper-item>
					<!-- 啪嗒啪嗒啪嗒，moten温馨提醒，注意src前面的冒号 -->
					<image :src="getImgUrl(item.advImg)" mode="aspectFit" class="bannerItem" />
				</swiper-item>
			</block>
		</swiper>
		<text class="serviceTitle">推荐服务</text>
		<view class="allService">
			<view style="display: flex;flex-wrap: wrap;">
				<block v-for="(item,index) in serviceList" :key="index">
					<view class="serviceItem" @click="gotoService(index)">
						<image :src="getImgUrl(item.imgUrl)" mode="aspectFit" class="serviceItemImage" />
						<view class="serviceItemText">{{item.serviceName}}</view>
					</view>
				</block>
				<view class="serviceItem" @click="switchToAll()">
					<image src="/static/more.png" mode="aspectFit" class="serviceItemImage" />
					<text class="serviceItemText">更多服务</text>
				</view>
			</view>
		</view>
		<view>
			<text class="serviceTitle">新闻专栏</text>
			<scroll-view scroll-x style="white-space: nowrap;height: 50rpx;padding:0 24rpx;flex-direction: row;">
				<block v-for="(item,index) in tabList" :key="index">
					<text @click="choose(item.id)" class="itemTab" v-if="item.id != type">{{item.name}}</text>
					<text @click="choose(item.id)" class="itemTab itemTabSelect" v-else>{{item.name}}</text>
				</block>
			</scroll-view>
			<view style="margin: 24rpx;">
				<block v-for="(item,index) in newDataList" :key="item.id">
					<view style="margin: 24rpx;" @click="goToNewItem(item.id)">
						<view style="display: flex;">
							<img :src="getImgUrl(item.cover)" mode="aspectFit" style="height: 180rpx;width: 250rpx;" />
							<view style="margin:0 16rpx;">
								<text
									style="font-size: 32rpx;">{{item.title.length >11 ? item.title.slice(0,11) : item.title}}……</text>
								<rich-text style="margin: 16rpx 0; font-size: 24rpx;"
									:nodes="item.content.length > 40 ? item.content.slice(0,40)+'……' : item.content"></rich-text>
							</view>
						</view>
						<text style="font-size: 24rpx;">评论总数：{{item.commentNum>0 ? item.commentNum : 0}}</text>
						<text style="font-size: 24rpx;float: right;">发布时间：{{item.publishDate}}</text>
					</view>
				</block>
			</view>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				bannerList: [],
				serviceList: [],
				tabList: [],
				newDataList: [],
				type: 0
			}
		},
		onLoad() {
			this.getBannerList();
			this.getAllServiceList();
		},
		onShow() {
			this.getAllNewsTab();
		},
		methods: {
			// 服务跳转
			gotoService(index) {
				var ulink = this.serviceList[index].link
				uni.navigateTo({
					url: ulink
				})
			},
			// 新闻跳转
			goToNewItem(index) {
				uni.navigateTo({
					url: "item_new?id=" + index
				})
			},
			// 新闻类别切换
			choose(index) {
				this.type = index
				this.getNewList(this.type);
			},
			// 获取新闻列表
			getNewList(type) {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/press/press/list?type=" + type,
					method: "GET",
					success(res) {
						var data = res.data
						that.newDataList = data.rows
					}
				})
			},
			// 获取新闻分类
			getAllNewsTab() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/press/category/list",
					method: "GET",
					success(res) {
						var data = res.data
						that.tabList = data.data
						that.type = that.tabList[0].id;
						that.getNewList(that.type);
					}
				})
			},
			// 转至全部服务
			switchToAll() {
				uni.switchTab({
					url: "../allService/allService"
				})
			},
			// 获取全部服务
			getAllServiceList() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/service/list",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						that.serviceList = data.rows.length > 9 ? data.rows.slice(0, 9) : data.rows
					}
				})
			},
			// 获取轮播图
			getBannerList() {
				// 此处使用that是因为在uni.request中，this不是指向这里的this
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/rotation/list?type=2",
					method: "GET",
					success(res) {
						var data = res.data
						that.bannerList = data.rows
					}
				})
			},
			getImgUrl(item) {
				return urlHead + item;
			}
		}

	}
</script>

<style>
	.banner {
		margin: 32rpx 48rpx;
	}

	.bannerItem {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;

	}

	.serviceTitle {
		font-size: 36rpx;
		margin: 48rpx;
		font-weight: bold;
	}

	.allService {
		margin: 24rpx;
	}

	.serviceItem {
		width: 15%;
		margin-left: 15rpx;
		margin-right: 15rpx;
	}

	.serviceItemImage {
		width: 100%;
		height: 126rpx;
	}

	.serviceItemText {
		font-size: 24rpx;
		text-align: center;
	}

	.itemTab {
		margin: 0 32rpx;
	}

	.itemTabSelect {
		color: #007AFF;
		border-bottom-color: #007AFF;
		border-bottom-width: 4rpx;
	}
</style>
