<template>
	<view class="page" style="">
		<view style="margin: 36rpx;">
			<h2>{{newData.title}}</h2>
			<image :src="getImg(newData.cover)" mode="aspectFit" />
			<rich-text :nodes="newData.content" style="margin: 12rpx;" class="rich" />
			<view class="list">
				<view style="font-size: 36rpx;font-weight: bold;">评论列表</view>
				<view>
					<block v-for="(item,index) in commentList" :key="index">
						<view style="border: #808080 solid 2rpx; margin-top: 24rpx;">
							<view style="display: flex;">
								<view style="font-weight: bold;width: 75%;margin: 12rpx;">{{item.userName}}</view>
								<view style="margin-left: 8rpx;">
									<image
										:src=" likethis[index] ? '../../static/like_this_select.png' : '../../static/like_this.png'"
										mode="aspectFit" style="width: 48rpx;height: 48rpx;"
										@click="likethis[index] ? a() :likethiscomment(index)" />
									<text
										style="justify-content: center;align-content: center;margin: 8rpx;">{{item.likeNum}}</text>
								</view>
							</view>
							<view style="font-size:32rpx;margin: 12rpx;">{{item.content}}</view>
							<view style="color: #7d7d7d;margin: 12rpx;">评论时间：{{item.commentDate}}</view>
						</view>
					</block>
				</view>
			</view>
		</view>
		<view class="bottom_item" v-if="!showup">
			<view style="width: 50%;display: flex;justify-content: center;" @click="writeComment()">
				<image src="../../static/write.png" mode="aspectFit"
					style="height: 64rpx;width: 64rpx;margin: 24rpx;" />
				<view style="margin: 32rpx;">评论</view>
			</view>
			<view style="width: 50%;display: flex;justify-content: center;">
				<image :src=" likethisnew ? '../../static/like_this_select.png' : '../../static/like_this.png'"
					mode="aspectFit" @click=" likethisnew ? a() : likeNew()"
					style="height: 64rpx;width: 64rpx;margin: 24rpx;" />
				<view style="margin: 32rpx;">点赞{{newData.likeNum}}</view>
			</view>
		</view>
		
		<view v-else class="popup-info">
			<view style="width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.6);" @click="showPopup()"></view>
			<view class="bottom_item">
				<form @submit="forSubmit">
					<view style="display: flex;width: 750rpx;">
						<input type="text" name="addcomment"
							style="border: #007AFF solid 2rpx;height: 96rpx;width: 80%;font-size: 48rpx;" />
						<button form-type="submit" @click="showPopup()">发送</button>
					</view>
				</form>
			</view>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				id: 37,
				newData: [],
				showup: false,
				commentList: [],
				likethis: [],
				likethisnew: false
			}
		},
		onLoad(e) {
			this.islogin()
			if (e.id != null) {
				this.id = e.id;
			}
			this.getnewItem()
			this.getNewComment()
		},
		methods: {
			islogin(){
				var login = uni.getStorageSync("isLogin")
				console.log(login);
				if(login) return
				uni.navigateTo({
					url:"login"
				})
			},
			forSubmit(e) {
				// 评论提交
				let that = this
				var comment = e.detail.value.addcomment
				if (comment != "" && comment != null) {
					uni.request({
						url: urlHead + "/prod-api/press/pressComment",
						method: "POST",
						header: {
							"Content-Type": "application/json",
							"Authorization": uni.getStorageSync("Authorization")
						},
						data: JSON.stringify({
							"newsId": that.id,
							"content": comment
						}),
						success(res) {
							that.getNewComment()
							that.$forceUpdate()
						}
					})
					return
				}
			},
			a() {},
			likeNew() {
				// 新闻点赞
				let that = this
				uni.request({
					url: urlHead + "/prod-api/press/press/like/" + that.newData.id,
					method: "PUT",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(result) {
						// 点完赞后刷新数据
						if (result.data.code == 200) {
							that.getnewItem()
							that.$forceUpdate()
							uni.showToast({
								title: "点赞成功"
							})
							that.likethisnew = !that.likethisnew
						} else {
							uni.showToast({
								icon: "error",
								title: "点赞失败"
							})
						}
					}
				})
			},
			likethiscomment(index) {
				// 评论点赞
				let that = this
				if (!this.likethis[index]) {
					uni.request({
						url: urlHead + "/prod-api/press/pressComment/like/" + that.commentList[index].id,
						method: "PUT",
						header: {
							"Authorization": uni.getStorageSync("Authorization")
						},
						success(res) {
							if (res.data.code == 200) {
								that.likethis[index] = !that.likethis[index]
								that.getNewComment()
								that.$forceUpdate()
							} else {
								uni.showToast({
									icon: "error",
									title: res.data.msg
								})
							}
						}
					})
				}
			},
			getNewComment() {
				// 留言列表
				let that = this;
				uni.request({
					url: urlHead + "/prod-api/press/comments/list?newsId=" + that.id,
					method: "GET",
					success(res) {
						var data = res.data
						that.commentList = data.rows.reverse()
						for (var item in that.commentList) {
							var id = that.commentList[item].id
							that.likethis.push(false)
						}
					}
				})
			},
			showPopup() {
				// 展开屏幕弹窗
				this.showup = !this.showup
			},
			writeComment() {
				// 编写评论，点击后还应滑动到页面底部
				let that = this;
				uni.createSelectorQuery().select(".page").boundingClientRect((data) => {
					uni.createSelectorQuery().select(".rich").boundingClientRect((res) => {
						uni.pageScrollTo({
							duration: 300,
							scrollTop: res.bottom - data.top,
							success() {
								// 打开编写评论弹窗
								that.showPopup()
							}
						})

					}).exec();
				}).exec();
			},
			getImg(index) {
				return urlHead + index
			},
			getnewItem() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/press/press/" + that.id,
					method: "GET",
					success(res) {
						that.newData = res.data.data
					}
				})
			}

		}
	}
</script>

<style>
	.page {
		display: flex;
		flex-direction: column;
		margin-bottom: 140rpx;
	}

	.bottom_item {
		position: fixed;
		height: 100rpx;
		background-color: #FFFFFF;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
	}

	.popup-info {
		position: fixed;
		display: flex;
		width: 100%;
		height: 100%;
	}
</style>
