<template>
	<view class="page">
		<form @submit="login">
			<view style="display: flex;margin: 24rpx;">
				<text>账号：</text><input type="text" name="username" />
			</view>
			<view style="display: flex;margin: 24rpx;">
				<text>密码：</text><input name="password" password />
			</view>
			<button form-type="submit">登录</button>
		</form>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {

			}
		},
		onLoad() {
			uni.showToast({
				icon: 'error',
				title: "请先登录"
			})
		},
		methods: {
			login(e) {
				let that = this
				var username = e.detail.value.username
				var password = e.detail.value.password
				console.log(JSON.stringify(e.detail.value));
				uni.request({
					url: urlHead + "/prod-api/api/login",
					method: "POST",
					data: JSON.stringify({
						"username": username,
						"password": password
					}),
					success(res) {
						var data = res.data
						console.log(data);
						if (data.code == 200) {
							var token = res.data.token
							// 数据存储
							that.updataToken(token)
						}
					}
				});
			},
			updataLogin() {
				// 更新登陆状态
				uni.setStorage({
					key: "isLogin",
					data: true,
					success() {
						console.log("已登录");
						uni.navigateBack()
					}
				})
			},
			updataToken(token) {
				// 更新token
				let that = this
				uni.setStorage({
					key: "Authorization",
					data: "Bearer " + token,
					success() {
						console.log("成功存储");
						that.updataLogin()
					}
				})
			}
		}
	}
</script>

<style>
	.page {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	form {
		width: 80%;
	}

	input {
		border: #000000 solid 2rpx;
		width: 80%;
		height: 64rpx;
		text-align: center;
	}
</style>
