<template>
	<view class="page">
		<block v-for="(item,index) in carCardList" :key="index">
			<view class="cardBox">
				<view class="left" @click="updata(index)">
					<view>车牌号：{{item.carID}}</view>
					<view>车位号：{{item.spaceID}}</view>
					<view>停车卡号：{{item.stopCardId}}</view>
				</view>
				<view class="right" @click="removeCar(index)">
					<image src="/static/delete.png" mode="aspectFit" style="width: 128rpx;height: 128rpx;"></image>
					<view>删除</view>
				</view>
			</view>
		</block>
		<image class="floatingButton" src="/static/addPost.png" mode="aspectFit" @click="updata(-1)"></image>
		<view class="popMore" v-if="addPost">
			<view class="popBody">
				<view style="display: flex;height: 60rpx;margin: 24rpx;">
					<view>车牌号：</view><input type="text" v-model="card.carID" />
				</view>
				<view style="display: flex;height: 60rpx;margin: 24rpx;">
					<view>车位号：</view><input type="text" v-model="card.spaceID" />
				</view>
				<view style="display: flex;height: 60rpx;margin: 24rpx;">
					<view>停车卡号：</view><input type="text" v-model="card.stopCardId" />
				</view>
				<button @click="announc">{{isadd ? "添加" : "修改"}}</button>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				carCardList: [{
					carID: "粤A·YB8154",
					spaceID: "0312",
					stopCardId: "1563412"
				}, {
					carID: "粤F·AD1515",
					spaceID: "1563",
					stopCardId: "4196513"
				}, {
					carID: "粤A·FA5315",
					spaceID: "8371",
					stopCardId: "187434"
				}, {
					carID: "粤A·DF5451",
					spaceID: "6825",
					stopCardId: "354153"
				}],
				addPost: false,
				isadd: false,
				card: {
					carID: "",
					spaceID: "",
					stopCardId: ""
				},
				updateId:-1
			}
		},
		methods: {
			removeCar(index){
				this.carCardList.splice(index,1)
			},
			announc() {
				this.addPost = false
				console.log(this.isadd);
				if(this.isadd){
					this.carCardList.push(this.card)
				}else{
					this.carCardList[this.updateId] = this.card
				}
			},
			updata(index) {
				this.addPost = true
				if (index == -1) {
					this.isadd = true
					this.card = {
						carID: "",
						spaceID: "",
						stopCardId: ""
					}
					this.updateId = index
				} else {
					this.card = this.carCardList[index]
					this.isadd = false
				}
			}
		}
	}
</script>

<style>
	input {
		border: #000000 solid 1rpx;
		width: 70%;
		text-align: center;
		position: absolute;
		right: 12rpx;
	}

	.popBody {
		height: auto;
		width: 90%;
		background-color: #FFFFFF;
		position: absolute;
		top: 10%;
		left: 5%;
	}

	.popMore {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.floatingButton {
		position: fixed;
		bottom: 128rpx;
		right: 48rpx;
		width: 160rpx;
		height: 160rpx;
	}

	.cardBox .left {
		width: 80%;
	}

	.cardBox .right {
		width: 20%;
		text-align: center;
	}

	.cardBox {
		border: #000000 solid 1rpx;
		margin: 24rpx;
		padding: 12rpx;
		border-radius: 24rpx;
		display: flex;
	}

	.page {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
</style>
