<template>
	<view>
		<view style="margin: 24rpx;">
			<image mode="aspectFit" style="width: 100%;" :src="pointList[index].image"></image>
			<view style="margin-left: 24rpx;">
				<view style="font-size: 32rpx;font-weight: bold;">{{pointList[index].title}}</view>
				<view>距离：{{pointList[index].distance}}</view>
				<view>地址：{{pointList[index].address}}</view>
				<view>营业时间：{{pointList[index].time}}</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				index:0,
				pointList: [{
					image: "/static/banner3.jpg",
					title: "快递点1",
					distance: "125m",
					address: "A小区东门斜对面",
					time:"24小时营业"
				}, {
					image: "/static/banner4.jpg",
					title: "快递点2",
					distance: "250m",
					address: "B小区正门南侧",
					time:"AM 7:00 ~ PM 19:00"
				}, {
					image: "/static/banner3.jpg",
					title: "快递点3",
					distance: "300m",
					address: "居委会楼下7号",
					time:"AM 10:00 ~ PM 22:00"
				}, {
					image: "/static/banner4.jpg",
					title: "快递点4",
					distance: "500m",
					address: "G街42号",
					time:"24小时营业"
				}]
			}
		},
		onLoad(option){
			if(option.index == null || option.index == ""){
				return 
			}
			this.index = option.index
		},
		methods: {
			
		}
	}
</script>

<style>

</style>
