<template>
	<view class="page">
		<view class="tablayoutBox" style="flex: 1;">
			<view class="tabLayoutBody">
				<view :class=" (tabIndex==0) ? 'select' : 'tabLayoutItem' " @click="tabIndex = 0">已覆盖快递点</view>
				<view :class=" (tabIndex==1) ? 'select' : 'tabLayoutItem' " @click="tabIndex = 1">已代签的包裹</view>
			</view>
		</view>
		<view class="tablayoutBox" style="flex: 18;">
			<swiper style="border: #000000 solid 1rpx;width: 90%;height: 100%;" active-class="swiperItem"
				:current="tabIndex" @change="chageSwiper">
				<swiper-item>
					<block v-for="(item,index) in pointList" :key="index">
						<view style="display: flex;margin: 24rpx;" @click="kuaidiItem(index)">
							<image mode="scaleToFill" style="width: 300rpx;height: 200rpx;" :src="item.image"></image>
							<view style="margin-left: 24rpx;">
								<view style="font-size: 32rpx;font-weight: bold;">{{item.title}}</view>
								<view>距离：{{item.distance}}</view>
								<view>地址：{{item.address}}</view>
							</view>
						</view>
					</block>
				</swiper-item>
				<swiper-item style="padding-left: 24rpx;">
					<block v-for="(item,index) in kuaidiList" :key="index">
						<view style="display: flex;margin: 24rpx;" @click="showQR = true">
							<image mode="scaleToFill" style="width: 200rpx;height: 200rpx;" :src="item.icon">
							</image>
							<view style="margin-left: 24rpx;">
								<view style="font-size: 32rpx;font-weight: bold;">{{item.name}}</view>
								<view>代签快递点：{{item.point}}</view>
							</view>
						</view>
					</block>
				</swiper-item>
			</swiper>
		</view>

		<view class="popMore" v-if="showQR" @click="showQR = false">
			<image src="/static/QRcode.jpg" mode="aspectFit" class="popBody"></image>
		</view>

	</view>
</template>

<script>
	export default {
		data() {
			return {
				tabIndex: 1, // 默认为0展示快递点
				showQR: false, // 展示二维码
				pointList: [{
					image: "/static/banner3.jpg",
					title: "快递点1",
					distance: "125m",
					address: "A小区东门斜对面"
				}, {
					image: "/static/banner4.jpg",
					title: "快递点2",
					distance: "250m",
					address: "B小区正门南侧"
				}, {
					image: "/static/banner3.jpg",
					title: "快递点3",
					distance: "300m",
					address: "居委会楼下7号"
				}, {
					image: "/static/banner4.jpg",
					title: "快递点4",
					distance: "500m",
					address: "G街42号"
				}],
				kuaidiList: [{
					icon: "/static/kuaidi.png",
					name: "包裹1",
					point: "代签点1"
				}, {
					icon: "/static/kuaidi.png",
					name: "包裹2",
					point: "代签点1"
				}, {
					icon: "/static/kuaidi.png",
					name: "包裹3",
					point: "代签点3"
				}, {
					icon: "/static/kuaidi.png",
					name: "包裹4",
					point: "代签点4"
				}]
			}
		},
		methods: {
			chageSwiper(e) {
				this.tabIndex = e.detail.current
			},
			kuaidiItem(index) {
				uni.navigateTo({
					url: "kuaidiItem?index=" + index
				})
			}
		}
	}
</script>

<style>
	.popBody {
		height: 600rpx;
		width: 600rpx;
		background-color: #FFFFFF;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -400rpx 0 0 -300rpx;
	}

	.popMore {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.tabLayoutBody {
		width: 90%;
		display: flex;
		text-align: center;
	}

	.tablayoutBox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 12rpx;
	}

	.tabLayoutItem {
		width: 50%;
		font-size: 36rpx;
	}

	.select {
		border-bottom: #66CCFF solid 8rpx;
		width: 50%;
		font-size: 36rpx;
	}

	.page {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		position: fixed;
	}
</style>
