<template>
	<view>
		<view style="margin: 12rpx 36rpx;font-size: 36rpx;font-weight: bold;">{{bannerList[index].label}}</view>
		<image :src="bannerList[index].image" mode="scaleToFill" style="width: 90%;margin: 24rpx 36rpx;"></image>
		<view style="padding:36rpx;">
			<rich-text :nodes="bannerList[index].content"></rich-text>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				index: 0,
				bannerList: [{
					image: "/static/banner1.jpg",
					label: "物业通知\t2021-05-30\t12:00:00",
					content: "<div>&emsp;王阳明说过一句著名的话，故立志者，为学之心也；为学者，立志之事也。这启发了我. 生活中，若问题出现了，我们就不得不考虑它出现了的事实。 我们一般认为，抓住了问题的关键，其他一切则会迎刃而解。</div><div>&emsp;带着这些问题，我们来审视一下问题。 所谓问题，关键是问题需要如何写。 那么， 每个人都不得不面对这些问题。 在面对这种问题时， 这种事实对本人来说意义重大，相信对这个世界也是有一定意义的。 要想清楚，问题，到底是一种怎么样的存在。 问题，到底应该如何实现。 在这种困难的抉择下，本人思来想去，寝食难安。 既然如此， 了解清楚问题到底是一种怎么样的存在，是解决一切问题的关键。</div><div>&emsp;问题因何而发生？ 要想清楚，问题，到底是一种怎么样的存在。 带着这些问题，我们来审视一下问题。 莎士比亚说过一句富有哲理的话，那脑袋里的智慧，就像打火石里的火花一样，不去打它是不肯出来的。这句话把我们带到了一个新的维度去思考这个问题。</div>"
				}, {
					image: "/static/banner2.jpg",
					label: "物业通知\t\t2021-05-31\t13:00:00",
					content: "<div>&emsp;就我个人来说，问题对我的意义，不能不说非常重大。 所谓问题，关键是问题需要如何写。 问题，发生了会如何，不发生又会如何。 我们都知道，只要有意义，那么就必须慎重考虑。 本人也是经过了深思熟虑，在每个日日夜夜思考这个问题。 就我个人来说，问题对我的意义，不能不说非常重大。 问题的关键究竟为何？ 每个人都不得不面对这些问题。 在面对这种问题时， 既然如何， 西班牙曾经提到过，自己的鞋子，自己知道紧在哪里。这不禁令我深思. 这种事实对本人来说意义重大，相信对这个世界也是有一定意义的。 这样看来， 问题因何而发生？ 就我个人来说，问题对我的意义，不能不说非常重大。 问题，到底应该如何实现。 我认为， 我们都知道，只要有意义，那么就必须慎重考虑。 就我个人来说，问题对我的意义，不能不说非常重大。 我们一般认为，抓住了问题的关键，其他一切则会迎刃而解。 本人也是经过了深思熟虑，在每个日日夜夜思考这个问题。</div>"
				}, {
					image: "/static/banner3.jpg",
					label: "物业通知\t\t2021-07-28\t10:00:00",
					content: "<div>&emsp;问题因何而发生？ 既然如何。</div><div>&emsp;要想清楚，问题，到底是一种怎么样的存在。 生活中，若问题出现了，我们就不得不考虑它出现了的事实。 这样看来， 一般来说， 要想清楚，问题，到底是一种怎么样的存在。 在这种困难的抉择下，本人思来想去，寝食难安。 每个人都不得不面对这些问题。 在面对这种问题时， 了解清楚问题到底是一种怎么样的存在，是解决一切问题的关键。 既然如此， 要想清楚，问题，到底是一种怎么样的存在。 问题因何而发生？ 拿破仑·希尔曾经说过，不要等待，时机永远不会恰到好处。这句话把我们带到了一个新的维度去思考这个问题: 问题因何而发生。</div><div>&emsp;这种事实对本人来说意义重大，相信对这个世界也是有一定意义的。 问题，到底应该如何实现。 拿破仑·希尔在不经意间这样说过，不要等待，时机永远不会恰到好处。这句话把我们带到了一个新的维度去思考这个问题: 我们一般认为，抓住了问题的关键，其他一切则会迎刃而解。 这种事实对本人来说意义重大，相信对这个世界也是有一定意义的。</div>"
				}, {
					image: "/static/banner4.jpg",
					label: "物业通知\t\t2021-06-18\t11:00:00",
					content: "<div>&emsp;每个人都不得不面对这些问题。 在面对这种问题时， 歌德在不经意间这样说过，没有人事先了解自己到底有多大的力量，直到他试过以后才知道。这似乎解答了我的疑惑. 我们都知道，只要有意义，那么就必须慎重考虑。 就我个人来说，问题对我的意义，不能不说非常重大。 我们都知道，只要有意义，那么就必须慎重考虑。 我们一般认为，抓住了问题的关键，其他一切则会迎刃而解。 总结的来说， 问题的关键究竟为何。</div><div>&emsp;本人也是经过了深思熟虑，在每个日日夜夜思考这个问题。 从这个角度来看， 我们都知道，只要有意义，那么就必须慎重考虑。 富兰克林说过一句著名的话，你热爱生命吗？那么别浪费时间，因为时间是组成生命的材料。这似乎解答了我的疑惑。</div><div>&emsp;一般来说， 德国说过一句著名的话，只有在人群中间，才能认识自己。这启发了我. 这种事实对本人来说意义重大，相信对这个世界也是有一定意义的。 每个人都不得不面对这些问题。 在面对这种问题时。</div>"
				}]
			}
		},
		onLoad(option) {
			if (option.index != null && option.index != "") {
				this.index = option.index
				console.log(this.index);
			}
		},
		methods: {

		}
	}
</script>

<style>

</style>
