<template>
	<view>
		<view class="topBanner">
			<swiper autoplay interval="2500" class="banner">
				<block v-for="(item,index) in bannerList" :key="index">
					<swiper-item>
						<view style="width: 100%;height: 100%;" @click="lookPropertyNotice(index)">
							<image :src="item.image" mode="scaleToFill" class="bannerItem" />
							<view class="propertyNotice">{{item.label}}</view>
						</view>
					</swiper-item>
				</block>
			</swiper>
		</view>
		<view style="display: flex;width: 100%;">
			<block v-for="(item,index) in serviceList" :key="index">
				<view style="width: 25%;text-align: center;" @click="jumpToService(item.url)">
					<image :src="item.image" mode="aspectFit" style="width: 96rpx;height: 96rpx;"></image>
					<view>{{item.label}}</view>
				</view>
			</block>
		</view>
		<view>
			<view style="font-size: 48rpx;font-weight: bold;margin: 24rpx;">商业推广</view>
			<block v-for="(item,index) in promoteList" :key="index">
				<view class="promoteItem" @click="jumpToTuiguan(index)">
					<image :src="item.image" mode="aspectFit" style="width: 100%;"></image>
					<text style="font-size: 40rpx;">{{item.title}}</text>
				</view>
			</block>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				bannerList: [{
					image: "/static/banner1.jpg",
					label: "物业通知\t2021-05-30\t12:00:00"
				}, {
					image: "/static/banner2.jpg",
					label: "物业通知\t\t2021-05-31\t13:00:00"
				}, {
					image: "/static/banner3.jpg",
					label: "物业通知\t\t2021-07-28\t10:00:00"
				}, {
					image: "/static/banner4.jpg",
					label: "物业通知\t\t2021-06-18\t11:00:00"
				}],
				serviceList: [{
					image: "/static/service1.png",
					label: "物业服务",
					url: "wuye"
				}, {
					image: "/static/service2.png",
					label: "快件管理",
					url: "kuaijian"
				}, {
					image: "/static/service3.png",
					label: "友邻社交",
					url: "youlin"
				}, {
					image: "/static/service4.png",
					label: "车辆管理",
					url: "carManage"
				}],
				promoteList: [{
					image: "/static/promote (1).jpg",
					title: "milkmile",
					contnet: "了解清楚问题到底是一种怎么样的存在，是解决一切问题的关键。 在这种困难的抉择下，本人思来想去，寝食难安。 卡莱尔说过一句著名的话，过去一切时代的精华尽在书中。这不禁令我深思. 这样看来， 从这个角度来看， 我们都知道，只要有意义，那么就必须慎重考虑。 而这些并不是完全重要，更加重要的问题是， 富勒说过一句著名的话，苦难磨炼一些人，也毁灭另一些人。这不禁令我深思. 我们一般认为，抓住了问题的关键，其他一切则会迎刃而解。"
				}, {
					image: "/static/promote (2).jpg",
					title: "DeLonghi",
					contnet: "问题因何而发生？ 所谓问题，关键是问题需要如何写。 经过上述讨论， 所谓问题，关键是问题需要如何写。 叔本华曾经说过，普通人只想到如何度过时间，有才能的人设法利用时间。这启发了我. 经过上述讨论， 本人也是经过了深思熟虑，在每个日日夜夜思考这个问题。问题，到底应该如何实现。要想清楚，问题，到底是一种怎么样的存在。 问题的发生，到底需要如何做到，不问题的发生，又会如何产生。 对我个人而言，问题不仅仅是一个重大的事件，还可能会改变我的人生。"
				}, {
					image: "/static/promote (3).jpg",
					title: "pipi.niu",
					contnet: "带着这些问题，我们来审视一下问题。 问题，发生了会如何，不发生又会如何。 每个人都不得不面对这些问题。 在面对这种问题时， 带着这些问题，我们来审视一下问题。 伏尔泰说过一句富有哲理的话，不经巨大的困难，不会有伟大的事业。这不禁令我深思. 经过上述讨论， 经过上述讨论， 一般来说。总结的来说， 要想清楚，问题，到底是一种怎么样的存在。 那么， 所谓问题，关键是问题需要如何写。 拉罗什夫科说过一句著名的话，取得成就时坚持不懈，要比遭到失败时顽强不屈更重要。这句话把我们带到了一个新的维度去思考这个问题。"
				}, {
					image: "/static/promote (4).jpg",
					title: "Nestle",
					contnet: "既然如此， 每个人都不得不面对这些问题。 在面对这种问题时， 克劳斯·莫瑟爵士曾经说过，教育需要花费钱，而无知也是一样。这似乎解答了我的疑惑. 生活中，若问题出现了，我们就不得不考虑它出现了的事实。 我们不得不面对一个非常尴尬的事实，那就是， 笛卡儿在不经意间这样说过，读一切好书，就是和许多高尚的人谈话。这句话把我们带到了一个新的维度去思考这个问题: 我认为， 每个人都不得不面对这些问题。 在面对这种问题时。所谓问题，关键是问题需要如何写。 而这些并不是完全重要，更加重要的问题是， 每个人都不得不面对这些问题。 在面对这种问题时， 奥斯特洛夫斯基曾经说过，共同的事业，共同的斗争，可以使人们产生忍受一切的力量。　这句话看似简单，但其中的阴郁不禁让人深思。"
				}, {
					image: "/static/promote (5).jpg",
					title: "Mustela",
					contnet: "而这些并不是完全重要，更加重要的问题是， 问题的关键究竟为何？ 问题的发生，到底需要如何做到，不问题的发生，又会如何产生。 在这种困难的抉择下，本人思来想去，寝食难安。 从这个角度来看， 带着这些问题，我们来审视一下问题。 从这个角度来看。而这些并不是完全重要，更加重要的问题是， 问题的关键究竟为何？ 问题的发生，到底需要如何做到，不问题的发生，又会如何产生。 在这种困难的抉择下，本人思来想去，寝食难安。 从这个角度来看， 带着这些问题，我们来审视一下问题。 从这个角度来看。",
				}, {
					image: "/static/promote (6).jpg",
					title: "umbbady",
					contnet: "总结的来说， 带着这些问题，我们来审视一下问题。 生活中，若问题出现了，我们就不得不考虑它出现了的事实。既然如何， 我们一般认为，抓住了问题的关键，其他一切则会迎刃而解。 既然如此， 问题因何而发生？ 问题的关键究竟为何？ 每个人都不得不面对这些问题。 在面对这种问题时， 就我个人来说，问题对我的意义，不能不说非常重大。 带着这些问题，我们来审视一下问题。 白哲特在不经意间这样说过，坚强的信念能赢得强者的心，并使他们变得更坚强。 这句话把我们带到了一个新的维度去思考这个问题。"
				}]
			}
		},
		methods: {
			lookPropertyNotice(index) {
				uni.navigateTo({
					url: "propertyNotice?index=" + index
				})
			},
			jumpToService(index) {
				uni.navigateTo({
					url: index
				})
			},
			jumpToTuiguan(index) {
				uni.navigateTo({
					url: "tuiguang?index=" + index
				})
			}
		}
	}
</script>

<style>
	.propertyNotice {
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		bottom: 0;
		width: 100%;
		color: #FFFFFF;
		padding-left: 24rpx;
	}

	.promoteItem {
		width: 85%;
		height: 358rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 64rpx;
		border: #000000 solid 1rpx;
		margin-bottom: 24rpx;
		border-radius: 36rpx;
		overflow: hidden;
	}

	.banner {
		margin: 32rpx 48rpx;
		padding: 1rpx;
		border: #000000 solid 1rpx;
		border-radius: 24rpx;
		overflow: hidden;
	}

	.bannerItem {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
</style>
