<template>
	<view>
		<block v-for="(item,index) in commentService">
			<view @click="call(item.phone)"
				style="display: flex;height: 128rpx;margin: 36rpx;border: #66CCFF solid 1rpx;padding: 12rpx;border-radius: 36rpx;">
				<image :src="item.icon" mode="aspectFit" style="width: 128rpx;height: 128rpx;"></image>
				<view style="width: 80%;">
					<view style="text-align: center;width: 100%;margin-top: 12rpx; font-size: 48rpx;">{{item.lable}}</view>
					<view style="text-align: center;margin-top: 12rpx;">{{item.phone}}</view>
				</view>
			</view>
		</block>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				commentService: [{
					icon: "/static/city.png",
					lable: "物业服务中心",
					phone: "020-432425"
				}, {
					icon: "/static/stopCar.png",
					lable: "停车位服务中心",
					phone: "020-432425"
				}, {
					icon: "/static/telephone.png",
					lable: "24 小时值班热线",
					phone: "020-432425"
				}, {
					icon: "/static/repair.png",
					lable: "报修电话",
					phone: "020-432425"
				}, {
					icon: "/static/serivce.png",
					lable: "便民服务",
					phone: "020-432425"
				}]
			}
		},
		methods: {
			call(index){
				uni.makePhoneCall({
					phoneNumber:index,
					success(res) {
						console.log(JSON.stringify(res));
					}
				})
			}
		}
	}
</script>

<style>

</style>
