<template>
	<view scroll-y class="page">
		<view class="box">
			<block v-for="(item,index) in postList" :key="index">
				<view class="postItem">
					<view style="display: flex;">
						<image :src="item.userIcon" mode="scaleToFill"
							style="width: 100rpx;height: 100rpx;border-radius: 50%;" />
						<view>{{item.announcer}}</view>
					</view>
					<image :src="item.image" mode="scaleToFill" style="width: 90%;height: 300rpx;margin: 24rpx;">
					</image>
					<view style="margin-left: 24rpx;">{{item.content}}</view>
					<view style="margin-left: 20rpx;margin-bottom: 24rpx;">
						<block v-for="(item2,index2) in messageList[index]" :key="index2">
							<view>{{item2.username}}:{{item2.content}}</view>
						</block>
						<view class="addMessageI">
							<input type="text" v-model="inputAddress[index]" />
							<button class="addMessage" @click="getItem(index)">发布</button>
						</view>
					</view>
				</view>
			</block>
		</view>
		<image class="floatingButton" src="/static/addPost.png" mode="aspectFit" @click="addPost = true"></image>
		<view class="popMore" v-if="addPost">
			<view class="popBody">
				<image :src="localhostImage[0]" mode="aspectFit" @click="addImage"></image>
				<input v-model="inputMessage" />
				<button @click="announc">发布</button>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				postList: [{
					userIcon: "/static/tx.png",
					announcer: "住户403",
					image: "/static/hd1.jpg",
					content: "哈哈哈哈"
				}, {
					userIcon: "/static/tx2.png",
					announcer: "住户201",
					image: "/static/hd2.jpg",
					content: "哈哈哈哈"
				}, {
					userIcon: "/static/tx.png",
					announcer: "住户403",
					image: "/static/hd1.jpg",
					content: "哈哈哈哈"
				}, {
					userIcon: "/static/tx2.png",
					announcer: "住户201",
					image: "/static/hd2.jpg",
					content: "哈哈哈哈"
				}],
				messageList: [
					[{
						username: "Kross",
						content: "ko~ko~da~yo~"
					}, {
						username: "Ash",
						content: "FBI,Open you door!"
					}],
					[{
						username: "Kross",
						content: "ko~ko~da~yo~"
					}, {
						username: "Ash",
						content: "FBI,Open you door!"
					}],
					[{
						username: "Kross",
						content: "ko~ko~da~yo~"
					}, {
						username: "Ash",
						content: "FBI,Open you door!"
					}],
					[{
						username: "Kross",
						content: "ko~ko~da~yo~"
					}, {
						username: "Ash",
						content: "FBI,Open you door!"
					}]
				],
				messageOnce: [],
				inputAddress: ["", ",", ""],
				addPost: false,
				localhostImage: ["/static/QRcode.jpg"],
				inputMessage:""
			}
		},
		methods: {
			getItem(index) {
				console.log(index);
				this.messageList[index].push({
					username: "user",
					content: this.inputAddress[index]
				})
				this.inputAddress[index] = ""
			},
			addImage() {
				let that = this
				uni.chooseImage({
					count: 1,
					success(res) {
						that.localhostImage = res.tempFilePaths
					}
				})
			},
			announc(){
				this.addPost = false
				let that = this
				this.postList.push({
					userIcon: "/static/QRcode.jpg",
					announcer: "user",
					image: that.localhostImage[0],
					content: that.inputMessage
				})
			}
		}
	}
</script>

<style>
	.popBody {
		height: 90%;
		width: 90%;
		background-color: #FFFFFF;
		position: absolute;
		top: 2%;
		left: 5%;
	}

	.popMore {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.addMessageI {
		display: flex;
		height: 64rpx;
		margin-top: 24rpx;
	}
	
	.popBody input{
		border: #000000 solid 1rpx;
		width: 80%;
		text-align: center;
	}

	.addMessageI input {
		border: #000000 solid 1rpx;
		width: 80%;
		height: 100%;
		text-align: center;
	}

	.addMessage {
		background-color: #00BFFF;
		color: #FFFFFF;
		font-size: 26rpx;
	}

	.postItem {
		border: #000000 solid 1rpx;
		border-radius: 48rpx;
		overflow: hidden;
		width: 80%;
		margin-top: 24rpx;
	}

	.floatingButton {
		position: fixed;
		bottom: 128rpx;
		right: 48rpx;
		width: 160rpx;
		height: 160rpx;
	}

	.box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 12rpx;
	}

	.page {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
</style>
