<template>
	<scroll-view>
		<!-- 三级联动,照抄……算了，我自定义一个 -->
		<view class="linkageItem">
			<text>省份：</text>
			<view>
				<view v-if="areaValue[0]" @click="put(0)" class="aborder" style="width: 488rpx;">{{areaData.province}}
				</view>
				<scroll-view scroll-y v-else class="bborder">
					<block v-for="(item,index) in provinceList" :key="index">
						<view class="aborder" style="width: 488rpx;" @click="chooseProvince(item.name)">
							{{item.name}}
						</view>
					</block>
				</scroll-view>
			</view>
		</view>
		<view class="linkageItem">
			<text>城市：</text>
			<view>
				<view v-if="areaValue[1]" @click="put(1)" class="aborder" style="width: 488rpx;">{{areaData.city}}
				</view>
				<scroll-view scroll-y v-else style="height: 300rpx;width: 500rpx;border: #7D7D7D solid 1rpx;">
					<block v-for="(item,index) in cityList" :key="index">
						<view class="aborder" style="width: 488rpx;" @click="chooseCity(item.name)">{{item.name}}
						</view>
					</block>
				</scroll-view>
			</view>
		</view>
		<view class="linkageItem">
			<text>地区：</text>
			<view>
				<view v-if="areaValue[2]" @click="put(2)" class="aborder" style="width: 488rpx;">{{areaData.area}}
				</view>
				<scroll-view scroll-y v-else style="height: 300rpx;width: 500rpx;border: #7D7D7D solid 1rpx;">
					<block v-for="(item,index) in areaList" :key="index">
						<view class="aborder" style="width: 488rpx;" @click="chooseArea(item.name)">{{item.name}}
						</view>
					</block>
				</scroll-view>
			</view>
		</view>
		<form @submit="submit">
			<view style="display: flex;margin: 12rpx;">
				<text>详细地址：</text>
				<input type="text" class="aborder" style="width: 425rpx;" name="addressDetail" />
			</view>
			<view style="display: flex;margin: 12rpx;">
				<text>客户姓名：</text>
				<input type="text" class="aborder" style="width: 425rpx;" name="name" :value="userInfo.userName"/>
			</view>
			<view style="display: flex;margin: 12rpx;">
				<text>联系电话：</text>
				<input maxlength="11" type="number" class="aborder" style="width: 425rpx;" name="phone" :value="userInfo.userPhone"/>
			</view>
			<view style="margin: 12rpx;">标签：
				<radio-group style="display: flex;flex-wrap: wrap;" @change="radioLabel" name="label">
					<radio value="学校">学校</radio>
					<radio value="公司">公司</radio>
					<radio value="家">家</radio>
					<radio :value="otherLabel">
						<input type="text" maxlength="2" placeholder="其他" class="aborder" @input="keyInput" />
					</radio>
				</radio-group>
			</view>
			<button form-type="submit" style="margin: 24rpx;">保存地址</button>
		</form>
	</scroll-view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				provinceList: [],
				cityList: [],
				areaList: [],
				areaValue: [true, true, true],
				areaData: {
					// 省、市、区
					province: "广东省",
					city: "珠海市",
					area: "金湾区"
				},
				otherLabel: "",
				label: "",
				userInfo:{
					userName:"",
					userPhone:""
				}
			}
		},
		onLoad(option) {
			this.getProvince()
			this.getCity(this.areaData.province)
			this.getArea(this.areaData.province, this.areaData.city)
			if (option.address == null || option.address == "") {
				this.getUserInfo()
			}
		},
		methods: {
			getUserInfo() {
				// 设置默认
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/user/getInfo",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						console.log(JSON.stringify(data));
						if (data.code == 200){
							that.userInfo.userName = data.user.nickName
							that.userInfo.userPhone = data.user.phonenumber
						}
					}
				})
			},
			submit(e) {
				var value = e.detail.value
				var areaData = this.areaData
				if (value.addressDetail == null || value.addressDetail == "") {
					uni.showToast({
						icon: "error",
						title: "详细地址不可为空"
					})
					return
				}
				if (value.name == null || value.name == "") {
					uni.showToast({
						icon: "error",
						title: "客户姓名不可为空"
					})
					return
				}
				if (value.label == null || value.label == "") {
					uni.showToast({
						icon: "error",
						title: "地址标签不可为空"
					})
					return
				}
				if (value.phone == null || value.phone == "") {
					uni.showToast({
						icon: "error",
						title: "联系电话不可为空"
					})
					return
				}
				if(value.phone.length < 11){
					uni.showToast({
						icon:"error",
						title:"请输入合法的号码"
					})
					return
				}
				value.addressDetail = areaData.province + areaData.city + areaData.area + value.addressDetail
				// 添加收货地址
				uni.request({
					url: urlHead + "/prod-api/api/takeout/address",
					method: "POST",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					data: JSON.stringify(e.detail.value),
					success(res) {
						if (res.data.code == 200) {
							uni.navigateBack()
						} else {
							uni.showToast({
								icon: "error",
								title: res.data.msg
							})
						}
					}
				})
			},
			radioLabel(e) {
				this.label = e.detail.value
			},
			keyInput(e) {
				this.otherLabel = e.target.value
				this.$forceUpdate()
			},
			chooseArea(area) {
				if (this.areaData.area != area) {
					this.areaData.area = area
				}
				this.areaValue[0] = true
				this.areaValue[1] = true
				this.areaValue[2] = true
				this.$forceUpdate()
			},
			chooseCity(city) {
				if (this.areaData.city != city) {
					this.areaData.area = "--请选择--"
					this.areaData.city = city
					this.getArea(this.areaData.province, this.areaData.city)
				}
				this.areaValue[0] = true
				this.areaValue[1] = true
				this.areaValue[2] = true
				this.$forceUpdate()
			},
			chooseProvince(province) {
				if (this.areaData.province != province) {
					this.areaData.city = "--请选择--"
					this.areaData.area = "--请选择--"
					this.areaData.province = province
					this.getCity(this.areaData.province)
				}
				this.areaValue[0] = true
				this.areaValue[1] = true
				this.areaValue[2] = true
				this.$forceUpdate()
			},
			put(index) {
				this.areaValue[index] = false
				this.$forceUpdate()
			},
			getProvince() {
				// 获取省份
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/gps/province",
					method: "GET",
					success(res) {
						var data = res.data
						that.provinceList = data.data
					}
				})
			},
			getCity(province) {
				// 获取城市
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/gps/city?provinceName=" + province,
					method: "GET",
					success(res) {
						var data = res.data
						that.cityList = data.data
					}
				})
			},
			getArea(province, city) {
				// 获取地区
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/gps/area?provinceName=" + province + "&cityName=" + city,
					method: "GET",
					success(res) {
						var data = res.data
						that.areaList = data.data
					}
				})
			}
		}
	}
</script>

<style>
	.linkageItem {
		margin-top: 12rpx;
		margin-left: 12rpx;
		display: flex;
	}

	.aborder {
		border: #7D7D7D solid 1rpx;
		padding-left: 12rpx;
		text-align: center;
	}

	.bborder {
		height: 300rpx;
		width: 500rpx;
		border: #7D7D7D solid 1rpx;
	}
</style>
