<template>
	<view>
		<view @click="addAddress" style="width: 100%;text-align: right;font-size: 36rpx;font-weight: bold;">新增收货地址
		</view>
		<block v-for="(item,index) in addressList" :key="index">
			<view style="border: #000000 solid 1rpx;margin: 12rpx 24rpx;padding:24rpx; display: flex;">
				<view style="width: 80%;">
					<view>地址：{{item.addressDetail}}</view>
					<view>联系人：{{item.name}}</view>
					<view>标签：{{item.phone}}</view>
				</view>
				<view style="font-size: 36rpx;">
					<view @click="updateThis(item)" style="margin: 24rpx;color:#66CCFF; ">编辑</view>
					<view @click="deleteAddress(item.id)" style="margin: 24rpx;color: #FF0000;">删除</view>
				</view>
			</view>
		</block>
		<view class="popMore" v-if="showPop">
			<!-- 评价弹窗 -->
			<view class="popBody">
				<form @submit="updateAddress">
					<view class="popBodyTitle">编辑</view>
					<view style="display: flex;margin: 24rpx;">
						<text style="width: 30%;">地址：</text>
						<input :value="address.addressDetail" name="address"
							style="border: #000000 solid 1rpx;width: 70%;text-align: center;" />
					</view>
					<view style="display: flex;margin: 24rpx;">
						<text style="width: 30%;">电话：</text>
						<input :value="address.phone" name="phone" type="number" maxlength="11"
							style="border: #000000 solid 1rpx;width: 70%;text-align: center;" />
					</view>
					<view style="display: flex;margin: 24rpx;">
						<text style="width: 30%;">姓名：</text>
						<input :value="address.name" name="name"
							style="border: #000000 solid 1rpx;width: 70%;text-align: center;" />
					</view>
					<view style="display: flex;margin: 24rpx;">
						<text style="width: 30%;">标签：</text>
						<input :value="address.label" name="label"
							style="border: #000000 solid 1rpx;width: 70%;text-align: center;" />
					</view>
					<view class="popBodyBottom">
						<button form-type="reset" style="background-color: #FF0000;"
							@click="showPop = false">取消</button>
						<button form-type="submit" style="background-color: #00FF00;">确认</button>
					</view>
				</form>
			</view>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				addressList: [],
				showPop: false,
				address: []
			}
		},
		onLoad() {},
		onShow() {
			this.getAddressList()
			// console.log(JSON.stringify(uni.getStorageSync("Authorization")));
		},
		methods: {
			deleteAddress(id) {
				uni.request({
					url: urlHead + "/prod-api/api/takeout/address/" + id,
					method: "DELETE",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						console.log(JSON.stringify(data));
						if (data.code == 200) {
							location.reload()
						}
					}
				})
			},
			addAddress() {
				uni.navigateTo({
					url: "add_address"
				})
			},
			updateThis(item) {
				this.showPop = true
				this.address = item
			},
			updateAddress(e) {
				// 修改收货地址
				var addressData = e.detail.value
				if (addressData.phone.length < 11) {
					uni.showToast({
						icon: "error",
						title: "请输入合法的号码"
					})
					return
				}
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/address",
					method: "PUT",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					data: JSON.stringify({
						"id": that.address.id,
						"name": addressData.name,
						"phone": addressData.phone,
						"addressDetail": addressData.address,
						"label": addressData.label
					}),
					success(res) {
						console.log(res.data);
						if (data.code == 200) {
							location.reload()
							that.showPop = false
						}
					}
				})
			},
			getAddressList() {
				let that = this
				// 获取收货地址列表
				uni.request({
					url: urlHead + "/prod-api/api/takeout/address/list",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						if (data.code == 200) {
							that.addressList = data.data
						}

					}
				})
			}

		}
	}
</script>

<style>
	.popStarItem {
		width: 75rpx;
		text-align: center;
		border: #7D7D7D solid 1rpx;
		margin-left: -2rpx;
	}

	.popBodyBottom button {
		width: 50%;
		text-align: center;
		font-size: 36rpx;
		font-weight: bold;
		color: #FFFFFF;
		border-radius: 0;
	}

	.popBodyBottom {
		position: absolute;
		bottom: 0;
		display: flex;
		width: 100%;
	}

	.popBodyTitle {
		text-align: center;
		font-size: 36rpx;
		font-weight: bold;
		padding: 12rpx 0;
		border-bottom: #7D7D7D solid 1rpx;
	}

	.popBody {
		height: 480rpx;
		width: 600rpx;
		background-color: #FFFFFF;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -400rpx 0 0 -300rpx;
	}

	.popMore {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
	}
</style>
