<template>
	<view style="margin:24rpx;">
		<block v-for="(item,index) in collectList" :key="index">
			<view style="display: flex;margin-top: 48rpx;" @click="shopmore(item)">
				<image :src="getImgUrl(item.imgUrl)" mode="scaleToFill" style="width: 320rpx;height: 200rpx;" />
				<view style="margin-left: 12rpx;">
					<text style="font-size: 28rpx;font-weight: bold;">{{item.sellerName}}</text>
					<view style="font-size: 18rpx;">月销量：{{item.saleQuantity}}</view>
					<view style="font-size: 18rpx;">评分：{{item.score}}</view>
					<view style="font-size: 18rpx;">地址：{{item.address}}</view>
					<view style="font-size: 18rpx;">收藏时间：{{item.createTime}}</view>
				</view>
			</view>
		</block>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				collectList:[]
			}
		},
		onShow() {
			this.getCollectList()
		},
		methods: {
			shopmore(item) {
				console.log(item);
				uni.navigateTo({
					url: "takeout_shop?name=" + item.sellerName
				})
			},
			getCollectList(){
				let that = this
				uni.request({
					url:urlHead + "/prod-api/api/takeout/collect/list",
					method:"GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data  = res.data
						that.collectList = data.rows
					}
				})
			},
			getImgUrl(item) {
				return urlHead + item;
			}
		}
	}
</script>

<style>

</style>
