<template>
	<view>
		<view v-if="searchResult.total <= 0">查无结果</view>
		<view v-else>
			<!-- {{searchResult.rows}} -->
			<!-- <i style="font-size: 12rpx;margin: 24rpx;">温馨提示：以下数据可能出现重复，纯属api问题，与应用开发者无关</i> -->
			<block v-for="(item,index) in searchResult.rows" :key="index">
				<view style="margin: 24rpx;">
					<view style="font-size: 36rpx;">
						来自:
						<text style="font-weight: bold;">{{item.name}}</text>
					</view>
					<block v-for="(item2,index2) in item.productList" :key="index2">
						<view style="display: flex;" @click="goToShop(item.name,item2.sellerId)">
							<image :src="getImageUrl(item2.imgUrl)" mode="aspectFit"
								style="width: 300rpx;height: 250rpx;border-radius: 36rpx;overflow: hidden;"></image>
							<view style="margin-left: 24rpx;">
								<view>菜名：{{item2.name}}</view>
								<view>价格：￥{{item2.price.toFixed(2)}}</view>
								<view>{{item2.sellerId}}</view>
							</view>
						</view>
					</block>
				</view>
			</block>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				keyword: "",
				searchResult: []
			}
		},
		onLoad(option) {
			if (option.keyword == null || option.keyword == "") {
				this.keyword = "G"
			} else {
				this.keyword = option.keyword
			}
		},
		onShow() {
			this.search()
		},
		methods: {
			goToShop(item,id) {
				uni.navigateTo({
					url: "takeout_shop?name=" + item+"&searchThemeId="+id
				})
			},
			// /prod-api/api/takeout/search?keyword=面  这个接口一堆重复数据
			search() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/search?keyword=" + that.keyword,
					method: "GET",
					success(res) {
						var data = res.data
						console.log(JSON.stringify(data));
						that.searchResult = data
					}
				})
			},
			getImageUrl(item) {
				return urlHead + item;
			}
		}
	}
</script>

<style>

</style>
