<template>
	<view style="box-sizing: border-box;height: 100%;">
		<view class="content">
			<takeoutHome v-if="select_it == 0" :bannerData="chirdHomeBanner" :themeData="chirdHomeThemes"
				:location="location" :areaList="areaList" :areaValue="areaValue" :ispop="canpop" @wantpop="wantpop"
				@cityChange="cityChange" @yes="AMDyes" :recommendList="chirdHomeRecommendList"
				:nearSeller="chirdHomeNearSellerList" @gotoshop="gotohomeshop" @gototheme="gotohometheme" 
				@searthValue="searth"/>
			<takeoutOrder v-if="select_it == 1" :isLogin="isLogin" :userOrderList="userOrderList"
				:themeData="chirdHomeThemes" @orderItem="getOrderItem" @orderStatus="getStatus" />
			<takeoutMyself v-if="select_it == 2" :userInfo="userInfo" @type="getFunction" />
		</view>
		<view class="double_tabbar">
			<block v-for="(item,index) in icon_list" :key="index">
				<view class="tabbar_item" @click="select_this(index)">
					<image v-if="item.select" :src="item.icon_select" mode="aspectFit" class="icon" />
					<image v-else :src="item.icon" mode="aspectFit" class="icon" />
					<view :class="[item.select ? 'select' : '']">{{item.label}}</view>
				</view>
			</block>
		</view>

		<view class="popMore" v-if="showPop">
			<!-- 评价弹窗 -->
			<view class="popBody">
				<view class="popBodyTitle">{{popData.title}}</view>
				<view style="display: flex;margin: 24rpx;">
					<text style="width: 30%;">{{popData.tips}}</text>
					<input @input="getPopComment" placeholder="文本"
						style="border: #000000 solid 1rpx;width: 70%;text-align: center;" />
				</view>
				<view style="display: flex;margin: 24rpx;" v-if="chooseOrder.want == 'evaluation'">
					<view>评价星级：</view>
					<view style="display: flex;">
						<block v-for="(item,index) in star" :key="index">
							<view :class="(starI >= item) ? 'chooseStart popStarItem' : 'popStarItem'"
								@click="starI = item">
								{{item}}
							</view>
						</block>
					</view>
				</view>
				<view class="popBodyBottom">
					<view style="background-color: #FF0000;" @click="showPop = false">取消</view>
					<view style="background-color: #00FF00;" @click="submitThis">确认</view>
				</view>
			</view>
		</view>
		
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	import takeoutHome from "./takeout_home.vue";
	import takeoutOrder from "./takeout_order.vue";
	import takeoutMyself from "./takeout_myself.vue";
	export default {
		components: {
			takeoutHome,
			takeoutOrder,
			takeoutMyself
		},
		data() {
			return {
				// 首页
				location: "",
				areaData: {
					// 省、市、区
					province: "",
					city: "",
					area: ""
				},
				areaValue: [18, 3, 2], // 当前滑动项
				areaList: [ // 三级联动的数据
					[],
					[],
					[]
				],
				canpop: false, // 记得改为false
				chirdHomeThemes: [], // 服务
				chirdHomeBanner: [], // 轮播图
				chirdHomeRecommendList: [], // 推荐好店
				chirdHomeNearSellerList: [], // 附近店家
				// tabbar
				select_it: 0, // 默认为0
				icon_list: [{
					icon: "../../../static/home.png",
					icon_select: "../../../static/home_select.png",
					label: "首页",
					select: false
				}, {
					icon: "../../../static/order.png",
					icon_select: "../../../static/order_select.png",
					label: "订单",
					select: false
				}, {
					icon: "../../../static/myself.png",
					icon_select: "../../../static/myself_select.png",
					label: "我的",
					select: false
				}],
				// 订单页
				isLogin: false, // 登录态判断
				userOrderList: [], // 用户订单列表
				chooseOrder: {}, // 选择的订单
				showPop: false, // 记得改为false
				comment: "",
				star: [1, 2, 3, 4, 5],
				starI: 5,
				popData: {
					title: "标题",
					tips: "提示:"
				},
				// 个人页
				userInfo: [],
			}
		},
		onLoad() {
			this.icon_list[this.select_it].select = true
			// 首页
			this.gettakeoutBanner()
			this.getTakeOutTheme()
			this.getLocation()
			this.getProvince()
			if (this.areaData.province == "") {
				this.areaData.province = "广东省"
				this.getCity(this.areaData.province)
			}
			if (this.areaData.city == "") {
				this.areaData.city = "珠海市"
				this.getArea(this.areaData.province, this.areaData.city)
			}
			if (this.areaData.area == "") {
				this.areaData.area = "金湾区"
			}
			this.getRecommendList()
			this.getNearList()
		},
		onShow() {
			// 订单页
			this.jumpToLogin()
			this.getOrederList()
			this.getUserInfo()
		},
		methods: {
			searth(e){
				// 搜索
				var searth =  e.detail.value.searth
				if(searth == null || searth == ""){
					return 
				}
				uni.navigateTo({
					url:"foodList?keyword=" +searth
				})
			},
			getFunction(e) {
				console.log(e);
				switch (e) {
					case "addressMana":
						uni.navigateTo({
							url: "address_list"
						})
						break;
					case "collect":
						uni.navigateTo({
							url: "collect_list"
						})
						break;
					case "order":
						this.select_this(1)
						break;
				}
			},
			// 个人页的数据
			getUserInfo() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/user/getInfo",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						console.log(JSON.stringify(data));
						if (data.code == 401) {
							uni.setStorage({
								key: "isLogin",
								data: false
							})
							that.jumpToLogin()
						}
						that.userInfo = data.user
					}
				})
			},
			// 订单页的数据
			submitThis() {
				// 提交
				switch (this.chooseOrder.want) {
					case "evaluation":
						this.submitComments()
						break;
					case "refound":
						this.refound()
						break;
				}
			},
			refound() {
				// 退款
				if (this.comment == null || this.comment == "") {
					uni.showToast({
						icon: "none",
						title: "请填写内容"
					})
					return
				}
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/order/refound",
					method: "POST",
					header: {
						"Content-Type": "application/json",
						"Authorization": uni.getStorageSync("Authorization")
					},
					data: JSON.stringify({
						"orderNo": that.chooseOrder.orderInfo.orderNo,
						"reason": that.comment
					}),
					success(res) {
						console.log(JSON.stringify({
							"orderNo": that.chooseOrder.orderInfo.orderNo,
							"reason": that.comment
						}));
						var data = res.data
						console.log(JSON.stringify(data));
						if (data.code == 200) {
							that.showPop = false
							location.reload()
						}
					}
				})

			},
			submitComments() {
				// 提交评论
				console.log(this.chooseOrder.orderInfo.orderNo, this.comment, this.starI);
				if (this.comment == null || this.comment == "") {
					uni.showToast({
						icon: "none",
						title: "请填写评论"
					})
					return
				}

				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/comment",
					method: "POST",
					header: {
						"Content-Type": "application/json",
						"Authorization": uni.getStorageSync("Authorization")
					},
					data: JSON.stringify({
						"content": that.comment,
						"orderNo": that.chooseOrder.orderInfo.orderNo,
						"score": that.starI
					}),
					success(res) {
						var data = res.data
						console.log(data);
						if (data.code == 200) {
							that.showPop = false
							location.reload()
						}
					}
				})
			},
			getPopComment(e) {
				// 实时获取键盘输入值
				this.comment = e.target.value
			},
			getStatus(e) {
				// 订单状态
				this.chooseOrder.want = e
				// 分类进行
				var chooseOrder = this.chooseOrder
				switch (chooseOrder.want) {
					case 'pay':
						console.log("跳转至支付页面");
						uni.navigateTo({
							url: "takeout_pay?id=" + chooseOrder.orderInfo.orderNo + "&sum=" + chooseOrder
								.orderInfo.amount
						})
						break;
					case 'evaluation':
						console.log("评价对话框");
						this.popData.title = "评价"
						this.popData.tips = "评论内容："
						this.showPop = true
						break;
					case 'refound':
						console.log("退款对话框");
						this.popData.title = "退款"
						this.popData.tips = "退款理由："
						this.showPop = true
						break;
					case "wantTwo":
						console.log("跳至店家详情");
						this.gotohomeshop(chooseOrder.sellerInfo.name)
						break;
				}
			},
			getOrderItem(e) {
				// 获取订单信息
				this.chooseOrder = e
			},
			getOrederList() {
				// 获取用户订单列表 
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/order/list",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						that.userOrderList = data.rows
					}
				})
			},
			jumpToLogin() {
				// 登录跳转
				this.isLogin = uni.getStorageSync("isLogin")
				if (this.isLogin) {
					return
				}
				console.log("未登录");
				uni.navigateTo({
					url: "../login"
				})
			},
			// 首页的数据
			gotohometheme(e) {
				uni.navigateTo({
					url: "themeList?themeid=" + e,
				})
			},
			gotohomeshop(item) {
				uni.navigateTo({
					url: "takeout_shop?name=" + item
				})
			},
			getNearList() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/seller/near",
					method: "GET",
					success(res) {
						that.chirdHomeNearSellerList = res.data.rows
					}
				})
			},
			getRecommendList() {
				// 获取推荐店家
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/seller/list?recommend=Y",
					method: "GET",
					success(res) {
						that.chirdHomeRecommendList = res.data.rows
					}
				})
			},
			cityChange(e) {
				// 这个滑动有瑕疵，具体什么瑕疵自己试
				const edv = e.detail.value
				this.areaData.province = this.areaList[0][edv[0]]
				this.areaData.city = this.areaList[1][edv[1]]
				this.areaData.area = this.areaList[2][edv[2]]
				this.getCity(this.areaData.province)
				this.getArea(this.areaData.province, this.areaData.city)
				this.areaValue = edv
				console.log(this.areaData.province, this.areaData.city, this.areaData.area);
			},
			AMDyes(e) {
				this.location = this.areaData.province + this.areaData.city + this.areaData.area
			},
			wantpop(e) {
				this.canpop = !this.canpop
			},
			getProvince() {
				// 获取省份
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/gps/province",
					method: "GET",
					success(res) {
						var data = res.data.data
						for (var value in data) {
							that.areaList[0][value] = data[value].name
						}
					}
				})
			},
			getCity(province) {
				// 获取城市
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/gps/city?provinceName=" + province,
					method: "GET",
					success(res) {
						var data = res.data.data
						that.areaList[1] = []
						for (var value in data) {
							that.areaList[1][value] = data[value].name
						}
					}
				})
			},
			getArea(province, city) {
				// 获取区
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/gps/area?provinceName=" + province + "&cityName=" + city,
					method: "GET",
					success(res) {
						var data = res.data.data
						that.areaList[2] = []
						for (var value in data) {
							that.areaList[2][value] = data[value].name
						}
					}
				})
			},
			getLocation() {
				// 获取当前地理位置
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/gps/location",
					method: "GET",
					success(res) {
						var data = res.data.data
						that.location = data.area + "·" + data.location
					}
				})
			},
			getTakeOutTheme() {
				// 外卖主题
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/theme/list",
					method: "GET",
					success(res) {
						that.chirdHomeThemes = res.data.data
					}
				})
			},
			select_this(index) {
				// 自定义tabbar切换及效果
				this.icon_list[this.select_it].select = false
				this.icon_list[index].select = true
				this.select_it = index
				if (index == 1) this.jumpToLogin()

			},
			gettakeoutBanner() {
				// 外卖轮播图
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/rotation/list",
					method: "GET",
					success(res) {
						that.chirdHomeBanner = res.data.rows
					}
				})

			}
		}
	}
</script>

<style>
	.chooseStart {
		background-color: rgb(255, 255, 0);
	}

	.popStarItem {
		width: 75rpx;
		text-align: center;
		border: #7D7D7D solid 1rpx;
		margin-left: -2rpx;
	}

	.popBodyBottom view {
		width: 50%;
		text-align: center;
		padding: 12rpx 0;
		font-size: 36rpx;
		font-weight: bold;
		color: #FFFFFF;
	}

	.popBodyBottom {
		position: absolute;
		bottom: 0;
		display: flex;
		width: 100%;
	}

	.popBodyTitle {
		text-align: center;
		font-size: 36rpx;
		font-weight: bold;
		padding: 12rpx 0;
		border-bottom: #7D7D7D solid 1rpx;
	}

	.popBody {
		height: 400rpx;
		width: 600rpx;
		background-color: #FFFFFF;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -400rpx 0 0 -300rpx;
	}

	.popMore {
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.content {
		position: absolute;
		width: 100%;
		height: 90%;
		bottom: 102rpx;
	}

	.double_tabbar {
		position: fixed;
		width: 100%;
		height: 100rpx;
		background-color: #FFFFFF;
		border-top: rgba(0, 0, 0, 0.6) solid 1rpx;
		bottom: 0;
		display: flex;
	}

	.tabbar_item {
		width: 33%;
		height: 100%;
		text-align: center;
	}

	.icon {
		width: 50rpx;
		height: 50rpx;
		margin-top: 4rpx;
	}

	.select {
		color: #4CD964
	}
</style>
