<template>
	<view style="display: flex;flex-direction: column;">
		<view class="top">
			<view style="display: flex;">
				<button class="chooseAddress" @click="pop = true">选择收货地址</button>
				<button class="chooseAddress" @click="addAddress()">添加收货地址</button>
			</view>
			<view>
				<view>收货地址：{{receiptAddress.addressDetail}}</view>
				<view>收货人：{{receiptAddress.name}}</view>
				<view>联系电话：{{receiptAddress.phone}}</view>
				<view>标签：{{receiptAddress.label}}</view>
				<view>{{sellerId}}</view>
			</view>
		</view>
		<!-- 订单 -->
		<scroll-view :scroll-y="!pop" class="content">
			<block v-for="(item,index) in orderItemList" :key="index">
				<view class="contentItem">
					<image :src="getImg(item.foodImage)"
						style="width: 100rpx;height: 100rpx;border-radius: 50%;overflow: hidden;"></image>
					<view style="font-size: 36rpx;margin-left: 24rpx;">
						<view>{{item.foodName}}</view>
						<view>数量：{{item.quantity}}</view>
					</view>
					<view style="position: absolute;right: 24rpx;margin-top: 48rpx;">￥{{item.foodPrice*item.quantity}}
					</view>
				</view>
			</block>
		</scroll-view>
		<button class="submit" @click="submitOrder">提交订单</button>
		<view v-if="pop" class="pop">
			<!-- 弹出层 -->
			<view class="poptop" @click="pop = false"></view>
			<scroll-view scroll-y class="popinfo">
				<block v-for="(item,index) in addressList" :key="index">
					<view class="popitem" @click="chooseReceiptAddress(item)">
						<view>地址：{{item.addressDetail}}</view>
						<view>收货人：{{item.name}}</view>
						<view>联系电话：{{item.phone}}</view>
						<view>标签：{{item.label}}</view>
					</view>
				</block>
			</scroll-view>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				orderItemList: [], // 订单
				addressList: [], // 地址列表
				receiptAddress: {
					"addressDetail": "维多利亚皇家近卫学院",
					"name": "风笛",
					"phone": 12345645645,
					"label": "学校"
				}, // 地址
				pop: false, // 弹出收货地址栏
				sellerId: 3
			}
		},
		onLoad(option) {
			if (option.sellerId != null) {
				this.sellerId = option.sellerId
			}
			this.orderItemList = uni.getStorageSync("orderItemList")
			this.getAddressList()
		},
		onShow() {
			this.getAddressList()
		},
		methods: {
			addAddress() {
				// 添加收货地址
				uni.navigateTo({
					url:"add_address"
				})
			},
			submitOrder() {
				let that = this
				// 提交订单
				uni.request({
					url: urlHead + "/prod-api/api/takeout/order/create",
					method: "POST",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					data: JSON.stringify({
						"addressDetail": that.receiptAddress.addressDetail,
						"label": that.receiptAddress.label,
						"name": that.receiptAddress.name,
						"phone": that.receiptAddress.phone,
						"amount": that.getSum(),
						"sellerId": that.sellerId,
						"orderItemList": that.getOrderList()
					}),
					success(res) {
						var data = res.data
						// 创建订单成功
						console.log(JSON.stringify(data));
						// 跳转
						if (data.code == 200) {
							uni.navigateTo({
								url: "takeout_pay?id="+data.orderNo
							})
						}
					}
				})

			},
			getSum() {
				var sum = 0
				for (var i in this.orderItemList) {
					sum += this.orderItemList[i].quantity * this.orderItemList[i].foodPrice
				}
				return sum.toFixed(2)
			},
			getOrderList() {
				var orderItemList = []
				for (var i in this.orderItemList) {
					var item = {}
					item.productId = this.orderItemList[i].productId
					item.quantity = this.orderItemList[i].quantity
					orderItemList.push(item)
				}
				return orderItemList
			},
			chooseReceiptAddress(address) {
				// 选择收货地址并关闭弹窗
				this.receiptAddress = address
				uni.setStorage({
					key: "address",
					data: address,
					success: this.pop = false
				})

			},
			getAddressList() {
				let that = this
				// 获取收货地址列表
				uni.request({
					url: urlHead + "/prod-api/api/takeout/address/list",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						that.addressList = data.data
						if (data.data.length) {
							that.receiptAddress = data.data[0]
							uni.setStorage({
								key: "address",
								data: that.receiptAddress,
								success() {
									// 设置默认地址为缓存
									console.log("默认为缓存");
								}
							})
						}
					}
				})
			},
			getImg(index) {
				return urlHead + index
			}
		}
	}
</script>

<style>
	.contentItem {
		margin-top: 12rpx;
		border: #007AFF solid 2rpx;
		display: flex;
		padding: 12rpx;
		border-radius: 24rpx;
	}

	.content {
		margin: 24rpx;
		height: 740rpx;
		width: 90%;
	}

	.top {
		margin-left: 24rpx;
	}

	.popitem {
		margin: 24rpx;
		background-color: #FFFFFF;
		border: #000000 solid 1rpx;
		border-radius: 30rpx;
		overflow: hidden;
		padding: 24rpx;
	}

	.popinfo {
		background-color: #dadada;
		width: 100%;
		height: 400rpx;
		position: fixed;
		bottom: 0;
		display: flex;
		flex-direction: column;
	}

	.poptop {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
	}

	.pop {
		position: fixed;
		display: flex;
		width: 100%;
		height: 100%;
	}

	.chooseAddress {
		width: 35%;
		background-color: #0000FF;
		font-size: 32rpx;
		margin: 12rpx;
		color: #FFFFFF;
	}
</style>
