<template>
	<view>
		<!-- <button @click="clean">清除缓存</button> -->
		<view class="top">
			<scroll-view scroll-x>
				<view style="display: flex;width: 100%;">
					<block v-for="(item,index) in orderType" :key="index">
						<view :class=" (typeIndex==index) ? 'itemTabSelect' : 'itemTab'" @click="typeIndex = index">
							{{item}}
						</view>
					</block>
				</view>
			</scroll-view>
		</view>
		<view class="content">
			<swiper :current="typeIndex" @change="log" style="height: 1080rpx;">
				<block v-for="(item,index) in orderType" :key="index">
					<swiper-item class="swiperItem">
						<scroll-view scroll-y style="height: 100%;">
							<block v-for="(item2,index2) in userOrderList" :key="index2">
								<view v-if="item == item2.orderInfo.status" class="orderItem">
									<view class="orderTypeTop">
										<view style="display: flex;">
											<image :src="getTypeLogo(item2.sellerInfo.themeId)" mode="aspectFit"
												class="themeLogo" />
											<view class="themeName">{{getTypeName(item2.sellerInfo.themeId)}}</view>
										</view>
										<view style="margin: 8rpx 16rpx;font-size: 24rpx;">{{item2.sellerInfo.name}}</view>
										<view>
											<view class="orderStautus">{{item2.orderInfo.status}}</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 48rpx;font-size: 36rpx;background-color: #66CCFF;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '待支付'" @click="toWant(item2,'pay')">
												支付</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 48rpx;font-size: 36rpx;background-color: #66CCFF;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '待评价'"
												@click="toWant(item2,'evaluation')">
												评价</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 128rpx;font-size: 36rpx;background-color: #FF0000;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '待评价'" @click="toWant(item2,'refound')">
												退款</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 48rpx;font-size: 36rpx;background-color: #66CCFF;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '完成'" @click="toWant(item2,'wantTwo')">
												再来一单</view>
										</view>
									</view>
									<view style="display: flex;margin: 12rpx 0;">
										<image :src="getImgUrl(item2.sellerInfo.imgUrl)" mode="aspectFill"
											class="sellerIcon" />
										<view style="margin: 12rpx;">
											<view>总价格：￥{{item2.orderInfo.amount}}</view>
											<view v-if="showPayType(item2.orderInfo.status)">
												支付方式：{{item2.orderInfo.paymentType}}</view>
										</view>
									</view>
								</view>
							</block>
							<block v-for="(item2,index2) in userOrderList" :key="index2" v-if="item == '全部'">
								<view class="orderItem">
									<view class="orderTypeTop">
										<view style="display: flex;">
											<image :src="getTypeLogo(item2.sellerInfo.themeId)" mode="aspectFit"
												class="themeLogo" />
											<view class="themeName">{{getTypeName(item2.sellerInfo.themeId)}}</view>
										</view>
										<view style="margin: 8rpx 16rpx;font-size: 24rpx;">{{item2.sellerInfo.name}}</view>
										<view>
											<view class="orderStautus">{{item2.orderInfo.status}}</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 48rpx;font-size: 36rpx;background-color: #66CCFF;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '待支付'" @click="toWant(item2,'pay')">
												支付</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 48rpx;font-size: 36rpx;background-color: #66CCFF;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '待评价'"
												@click="toWant(item2,'evaluation')">
												评价</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 128rpx;font-size: 36rpx;background-color: #FF0000;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '待评价'" @click="toWant(item2,'refound')">
												退款</view>
											<view class="orderStautus"
												style=" padding: 12rpx;height: 48rpx;margin-top: 48rpx;font-size: 36rpx;background-color: #66CCFF;border-radius: 12rpx;overflow: hidden;color: #FFFFFF;font-weight: bold;"
												v-if="item2.orderInfo.status == '完成'" @click="toWant(item2,'wantTwo')">
												再来一单</view>
										</view>
									</view>
									<view style="display: flex;margin: 12rpx 0;">
										<image :src="getImgUrl(item2.sellerInfo.imgUrl)" mode="aspectFill"
											class="sellerIcon" />
										<view style="margin: 12rpx;">
											<view>总价格：￥{{item2.orderInfo.amount}}</view>
											<view v-if="showPayType(item2.orderInfo.status)">
												支付方式：{{item2.orderInfo.paymentType}}</view>
										</view>
									</view>
								</view>
							</block>
						</scroll-view>
					</swiper-item>
				</block>
			</swiper>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				orderType: ["全部", "待支付", "待评价", "退款", "完成"],
				typeIndex: 0,
				orderList: []
			}
		},
		props: ["isLogin", "userOrderList", "themeData"],
		onLoad() {

		},
		methods: {
			toWant(item, status) {
				this.$emit("orderItem", item)
				this.$emit("orderStatus", status)
			},

			choose(item) {
				this.$emit("orderStatus", item.status)
			},
			showPayType(item) {
				return (item != '待支付') && (item != '完成')
			},
			clean() {
				// 清除缓存数据，调试用 
				uni.clearStorageSync()
			},
			log(e) {
				this.typeIndex = e.detail.current
			},
			getTypeLogo(idIndex) {
				var index = 0
				for (var i in this.themeData) {
					if (this.themeData[i].id == idIndex) {
						index = i
						break;
					}
				}
				return urlHead + this.themeData[index].imgUrl
			},
			getTypeName(idIndex) {
				var index = 0
				for (var i in this.themeData) {
					if (this.themeData[i].id == idIndex) {
						index = i
						break;
					}
				}
				return this.themeData[index].themeName
			},
			getImgUrl(item) {
				return urlHead + item
			}
		}
	}
</script>

<style>
	.orderItem {
		border: #000000 solid 1rpx;
		margin: 12rpx;
	}

	.sellerIcon {
		width: 128rpx;
		height: 128rpx;
		border-radius: 50%;
		overflow: hidden;
		margin-left: 12rpx;
	}

	.orderStautus {
		position: absolute;
		right: 24rpx;
		height: 240rpx;
	}

	.themeName {
		font-size: 36rpx;
		font-weight: bold;
		margin: 8rpx;
	}

	.themeLogo {
		width: 64rpx;
		height: 64rpx;
	}

	.orderTypeTop {
		width: 100%;
		height: 64rpx;
		display: flex;
		margin: 0 12rpx;
	}

	.swiperItem {
		width: 100%;
		height: 100%;

	}

	.content {
		margin: 0 24rpx;
	}

	.itemTab {
		width: 20%;
		text-align: center;
	}

	.itemTabSelect {
		width: 20%;
		text-align: center;
		border-bottom: #0000FF solid 4rpx;
	}

	.top {
		margin: 8rpx 24rpx;
	}
</style>
