<template>
	<view style="margin: 0 48rpx 108rpx 48rpx;">
		<view class="banner">
			<swiper autoplay indicator-dots interval="2500">
				<block v-for="(item,index) in bannerData" :key="index">
					<swiper-item>
						<image :src="getImgUrl(item.advImg)" mode="aspectFit" class="bannerItem"
							@click="shopB(index+1)"></image>
					</swiper-item>
				</block>
			</swiper>
		</view>
		<view>
			<text @click="popup()">当前位置：{{location}}</text>
		</view>
		<view style="display: flex;margin-top: 24rpx;">
			<form @submit="searth">
				<view class="searth">
					<input class="searthinput" placeholder="输入菜品名搜索" name="searth" />
					<button form-type="submit" class="searthButton">搜索</button>
				</view>
			</form>
		</view>
		<view style="font-weight: bold;margin-top: 32rpx;">美食分类</view>
		<view class="theme">
			<block v-for="(item,index) in themeData" :key="index">
				<view class="themeItem" @click="themeClick(item.id)">
					<image :src="getImgUrl(item.imgUrl)" mode="aspectFit" class="themeIcon" />
					<view class="themeTitle">{{item.themeName}}</view>
				</view>
			</block>
		</view>
		<view>
			<view style="font-weight: bold;margin-top: 32rpx;">推荐好店</view>
			<view style="display: flex;flex-wrap: wrap;">
				<block v-for="(item,index) in recommendList" :key="index">
					<view class="recommend" @click="shop(item.name)">
						<image :src="getImgUrl(item.imgUrl)" mode="scaleToFill"
							style="width: 90%;height: 200rpx;margin: 15rpx;" />
						<view style="text-align: center;font-size: 32rpx;">{{item.name}}</view>
						<view style="margin:4rpx 8rpx;font-size: 24rpx;">评分：{{item.score}}</view>
						<view style="margin:8rpx;font-size: 24rpx;">近三小时下单：{{item.saleNum3hour}}</view>
					</view>
				</block>
			</view>
		</view>
		<view>
			<view style="font-weight: bold;margin-top: 32rpx;">附近商家</view>
			<block v-for="(item,index) in nearSeller" :key="index">
				<view class="nearShowItem" @click="shop(item.name)">
					<view style="display: flex;">
						<image :src="getImgUrl(item.imgUrl)" mode="scaleToFill" style="width: 320rpx;height: 200rpx;" />
						<view style="margin: 12rpx;">
							<text style="font-size: 28rpx;font-weight: bold;">{{item.name}}</text>
							<view style="position: absolute;right: 64rpx;font-size:18rpx;">评分：{{item.score}}</view>
							<view style="font-size: 18rpx;">月销量：{{item.saleQuantity}}</view>
							<view style="font-size: 18rpx;">配送时间：{{item.deliveryTime}}分钟</view>
							<view style="font-size: 18rpx;">距离：{{item.distance}}m</view>
							<view style="font-size: 18rpx;">人均消费：{{item.avgCost}}元</view>
						</view>
					</view>
				</view>
			</block>
		</view>
		<view v-if="ispop" style="width: 100%;background-color: #FFFFFF;">
			<view class="popstyle">
				<view class="left btn" @click="cancel">取消</view>
				<view class="right btn" @click="confirm">确定</view>
			</view>
			<view class="pickview">
				<picker-view :value="areaValue" :indicator-style="indicatorStyle" @change="bindCityChange">
					<picker-view-column>
						<view v-for="(item,index) in areaList[0]" :key="index" style="text-align: center;">
							{{item}}
						</view>
					</picker-view-column>
					<picker-view-column>
						<view v-for="(item,index) in areaList[1]" :key="index" style="text-align: center;">
							{{item}}
						</view>
					</picker-view-column>
					<picker-view-column>
						<view v-for="(item,index) in areaList[2]" :key="index" style="text-align: center;">
							{{item}}
						</view>
					</picker-view-column>
				</picker-view>
			</view>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				indicatorStyle: `height: ${Math.round(uni.getSystemInfoSync().screenWidth/(750/100))}px;`,
			}
		},
		props: ["bannerData", "themeData",
			"location",
			"areaList", "areaValue",
			"ispop", "recommendList",
			"nearSeller"
		],
		onLoad() {

		},
		methods: {
			shopB(option){
				console.log("banner",option);
			},
			shop(name) {
				// 推荐好店和附近商家的,轮播图随便了
				this.$emit("gotoshop",name)
			},
			themeClick(index) {
				// 美食分类的
				this.$emit("gototheme",index)
			},
			confirm() {
				this.$emit("wantpop", this.ispop)
				this.$emit("yes", "haihai")
			},
			cancel() {
				// 取消
				this.$emit("wantpop", this.ispop)
			},
			bindCityChange(e) {
				// 滚动触发的事件
				this.$emit("cityChange", e)
			},
			popup() {
				// 弹出选择器
				console.log(this.ispop);
				this.$emit("wantpop", this.ispop)
			},
			searth(e) {
				this.$emit("searthValue",e)
			},
			getImgUrl(item) {
				return urlHead + item;
			}
		}
	}
</script>

<style>
	.popstyle {
		width: 85%;
		border: #7d7d7d solid 2rpx;
		position: absolute;
		position: absolute;
		bottom: 600rpx;
		background-color: #FFFFFF;
	}

	.nearShowItem {
		margin-top: 32rpx;
		border: #000000 solid 1rpx;
		padding: 4rpx;
	}

	.recommend {
		width: 46%;
		margin: 8rpx;
		border: #000000 solid 1rpx;
		justify-content: center;
		align-content: center;
	}

	.pickview {
		width: 85%;
		position: fixed;
		bottom: 99rpx;
		background-color: #FFFFFF;
		border: #0000FF solid 2rpx;
		justify-content: center;
		align-content: center;
	}

	picker-view {
		height: 600rpx;
		font-size: 36rpx;
	}

	.btn {
		font-size: 36rpx;
		font-weight: bold;
	}

	.right {
		float: right;
		color: #0000FF;
		margin-right: 48rpx;
	}

	.left {
		float: left;
		color: #ff0000;
		margin-left: 48rpx;
	}

	.searthButton {
		margin-right: 108rpx;
		text-align: 24rpx;
		width: 20%;
		height: 80rpx;
		align-content: center;
		justify-content: center;
	}

	.searthinput {
		border: #007AFF solid 1rpx;
		width: 80%;
		height: 80rpx;
		text-align: center;
	}

	.searth {
		display: flex;
		width: 750rpx;
	}

	.themeTitle {
		text-align: center;
		font-size: 24rpx;
	}

	.themeIcon {
		width: 100%;
		height: 126rpx;
	}

	.themeItem {
		width: 18%;
		margin: 0 8rpx;
	}

	.theme {
		display: flex;
	}

	.banner {
		display: flex;
		flex-direction: column;
		margin: 24rpx 12rpx;
	}

	.bannerItem {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-content: center;
	}
</style>
