<template>
	<view>
		<view style="margin: 24rpx;">订单号：{{orderNo}}</view>
		<view style="margin-left: 24rpx;font-size:36rpx;">
			<text>支付金额：</text>
			<text style="font-size: 48rpx;">￥{{sum}}</text>
		</view>
		<view style="display: flex;font-size:36rpx;margin: 24rpx;">
			<text>选择支付类型:</text>
			<view @click="open = !open" style="display: flex;margin-left:48rpx ;">
				<view v-if="!open" style="display: flex;text-align: center;">
					<image :src="pay_type[type_index].typeIcon" style="width: 64rpx;height: 64rpx;"></image>
					<view>{{pay_type[type_index].typeName}}</view>
				</view>
				<view v-else>
					<view v-for="(item,index) in pay_type" :key="index" style="display: flex;">
						<image :src="item.typeIcon" style="width: 64rpx;height: 64rpx;"></image>
						<view @click="type_index = index">{{item.typeName}}</view>
					</view>
				</view>
				<image :src=" open ? '../../../static/up.png' : '../../../static/open.png' "
					style="width: 36rpx;height: 36rpx;" />
			</view>
		</view>
		<button @click="pay(orderNo)" style="position: absolute;bottom: 512rpx;margin-left: 280rpx;">确认支付</button>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				orderList: [],
				pay_type: [{
					"typeIcon": "/static/Bank.png",
					"typeName": "电子钱包"
				}, {
					"typeIcon": "/static/WeChatPay.png",
					"typeName": "微信"
				}, {
					"typeIcon": "/static/ALi.png",
					"typeName": "支付宝"
				}],
				type_index: 0,
				open: false,
				orderNo: 2021091917341239731,
				sum:0
			}
		},
		onLoad(option) {
			this.orderList = uni.getStorageSync("orderItemList")
			if (option.id != null) {
				this.orderNo = option.id
			}
			if(option.sum != null){
				this.sum = option.sum
			}else{
				this.sum = this.getSum()
			}
		},
		methods: {
			pay(id) {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/pay",
					method: "POST",
					header: {
						"Authorization": uni.getStorageSync("Authorization"),
						"Content-Type": "application/json"
					},
					data:JSON.stringify({
						"orderNo":id,
						"paymentType":that.pay_type[that.type_index].typeName
					}),
					success(res) {
						// 支付订单成功
						console.log(JSON.stringify(res.data));
						if (res.data.code == 200) {
							uni.navigateBack({
								delta: getCurrentPages().length - 2
							})
						}
					}
				})
			},
			getSum() {
				var sum = this.sum
				for (var i in this.orderList) {
					sum += this.orderList[i].quantity * this.orderList[i].foodPrice
				}
				return (this.orderList.length >0 ) ? sum.toFixed(2) : sum
			},
		}
	}
</script>

<style>

</style>
