<template>
	<view style="height: 100%;">
		<view class="top">
			<image :src="getImgUrl(item.imgUrl)" mode="scaleToFill"
				style="width: 360rpx; height: 240rpx;margin-top: 24rpx;" />
			<view class="top_text">
				<view style="font-weight: bold;">{{item.name}}</view>
				<view>评分：{{item.score}}</view>
				<view>人均消费：{{item.avgCost}}元</view>
			</view>
		</view>
		<view class="collect" @click="collect(item.id)">
			<image :src="(isCollect) ? '../../../static/collect_is.png' : '../../../static/collect.png'"
				style="width: 48rpx;height: 48rpx;" />
			<view style="margin-left:12rpx ;">{{ isCollect ? '取消收藏' : '收藏店铺'}}</view>
		</view>
		<view class="tab">
			<view :style="(tabindex == 0) ? 'width: 33%;border-bottom: #66ccff solid 8rpx;' : 'width: 33%;'"
				@click="tabindex = 0">点菜</view>
			<view :style="(tabindex == 1) ? 'width: 33%;border-bottom: #66ccff solid 8rpx;' : 'width: 33%;'"
				@click="tabindex = 1">评价</view>
			<view :style="(tabindex == 2) ? 'width: 33%;border-bottom: #66ccff solid 8rpx;' : 'width: 33%;'"
				@click="tabindex = 2">商家介绍</view>
		</view>
		<swiper style="height: 716rpx;border: rgba(0,0,0,0.4) solid 2rpx;margin-top: 24rpx;padding:0 12rpx ;"
			:current="tabindex" @change="log">
			<swiper-item style="width: 100%;display: flex;">
				<scroll-view scroll-y class="foodCategory">
					<block v-for="(item,index) in category" :key="index">
						<view :class="(categoryId == index) ? 'categoryItem_s' : 'categoryItem'"
							@click="chooseThis(index)">
							{{item.name}}
						</view>
					</block>
				</scroll-view>
				<scroll-view scroll-y class="foodList">
					<block v-for="(item,index) in foodList[categoryId]" :key="index">
						<view class="foodItem">
							<image :src="getImgUrl(item.imgUrl)" style="width: 120rpx;height: 90rpx;"
								mode="scaleToFill" />
							<view>
								<text style="font-size: 24rpx;font-weight: bold;">{{item.name}}</text>
								<view style="margin-left:8rpx;text-align: start;">
									<text>月销量：{{item.saleQuantity}}</text>
									<text style="margin-left: 24rpx;">好评率：{{item.favorRate}}%</text>
								</view>
								<view style="display: flex;position: absolute;left: 152rpx;">单价：￥{{item.price}}</view>
								<view style="display: flex;position: absolute;right: 12rpx;">
									<image src="../../../static/remove.png" style="width: 32rpx;height: 32rpx;"
										v-if="(item.quantity)>0" @click="removequantity(categoryId,index)" />
									<view style="width: 48rpx;height: 48rpx;">{{item.quantity}}</view>
									<image src="../../../static/add.png" style="width: 32rpx;height: 32rpx;"
										@click="addquantity(categoryId,index)" />
								</view>
							</view>
						</view>
					</block>
				</scroll-view>
			</swiper-item>
			<swiper-item style="width: 100%;">
				<scroll-view scroll-y style="width: 100%;height: 100%;">
					<view v-if="commentList.length == 0">暂无评论</view>
					<block v-for="(item,index) in commentList" :key="index">
						<view style="display: flex;margin: 24rpx;">
							<image :src="getImgUrl('/prod-api'+item.avatar)" class="useravatar" />
							<view style="margin-left: 12rpx;">
								<view style="display: flex;">
									<view style="font-weight: bold;">{{item.nickName}}</view>
									<view style="font-size: 24rpx;position: absolute;right: 12rpx;">{{item.commentDate}}
									</view>
								</view>
								<view style="margin: 12rpx;">{{item.content}}</view>
								<view>
									<block v-for="(item,index) in item.score">
										<image src="../../../static/collect_is.png"
											style="width: 36rpx;height: 36rpx;" />
									</block>
								</view>
								<view v-if="item.replyContent != null" style="font-size: 26rpx;">
									商家回复：{{item.replyContent}}</view>
							</view>
						</view>
					</block>
				</scroll-view>
			</swiper-item>
			<swiper-item style="width: 100%;">
				<view style="color: #F0AD4E;">{{item.introduction}}</view>
				<view>月销量：{{item.saleQuantity}}</view>
				<view>近三小时销量：{{item.saleNum3hour}}</view>
				<view>配送时间：{{item.deliveryTime}}min</view>
				<view>地址：{{item.address}}</view>
				<view>距离：{{item.distance}}m</view>
			</swiper-item>
		</swiper>
		<view
			style="display: flex;width: 100%;height: 100rpx;border-top: #7D7D7D solid 1rpx;position: absolute;bottom: 0;">
			<view :class="getsum() > 0 ? 'has' : 'unhas'">总计：￥{{getsum()}}</view>
			<view class="settlement" @click="Settlement">去结算</view>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				itemId: 0, // 店铺id
				name: "", // 店铺名
				item: [], // 店铺数据
				isCollect: false, // 是否收藏
				collectId: -1, // 收藏id
				tabindex: 0, // 默认滑块，记得改为0
				category: [], // 菜品类别列表
				categoryId: 0, // 菜品类别id
				foodList: [
					/**
					 * [ 
					 * ],
					 * []
					 */
				], // 菜品列表
				commentList: [], // 评论列表
				islogin: false,
				searchThemeId: -1
			}
		},
		onLoad(option) {
			this.name = (option.name != null) ? option.name : "贡茶"
			uni.setNavigationBarTitle({
				title: this.name
			})
			this.searchThemeId = (option.searchThemeId != null) ? option.searchThemeId : -1
		},
		onShow() {
			this.isLogin()
			this.getItem()
		},
		methods: {
			Settlement() {
				let that = this
				// 跳转至订单确认页
				var sum = this.getsum()
				var list = this.foodList
				var orderItemList = []
				for (var i in list) {
					for (var j in list[i]) {
						var dataItem = list[i][j]
						if (dataItem.quantity > 0) {
							orderItemList.push({
								// 前两个属性用于生成订单的，其他属性则是用于确认页面显示信息的
								"productId": dataItem.id,
								"quantity": dataItem.quantity,
								"foodImage": dataItem.imgUrl,
								"foodName": dataItem.name,
								"foodPrice": dataItem.price
							})
						}
					}
				}
				if (orderItemList.length > 0) {
					uni.setStorage({
						key: "orderItemList",
						data: orderItemList,
						success() {
							uni.navigateTo({
								url: "orderConfirmation?sellerId=" + that.itemId
							})
						}
					})
				}
			},
			getCommentList(id) {
				// 获取评论列表
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/comment/list?sellerId=" + id,
					method: "GET",
					success(res) {
						var data = res.data
						that.commentList = data.rows
					}
				})
			},
			getsum() {
				// 算总价
				var sum = 0
				for (var i in this.foodList) {
					for (var j in this.foodList[i]) {
						sum += this.foodList[i][j].price * this.foodList[i][j].quantity
					}
				}
				sum = sum.toFixed(2)
				// java: Math.rint(sum*100)/100
				return sum
			},
			removequantity(categoryId, index) {
				// 购物车减少
				this.foodList[categoryId][index].quantity--
				this.$forceUpdate()
			},
			addquantity(categoryId, index) {
				// 购物车增加
				this.foodList[categoryId][index].quantity++
				this.$forceUpdate()
			},
			chooseThis(id) {
				// 选择切换
				this.categoryId = id
			},
			addOrderContent(list) {
				for (var i in list) {
					// 给每一项菜品添加一条属性
					list[i]["quantity"] = 0
				}
			},
			getFoodList(index, sellerId, categoryId) {
				// 获取菜品列表
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/product/list?sellerId=" + sellerId + "&categoryId=" +
						categoryId,
					method: "GET",
					success(res) {
						var data = res.data
						that.foodList[index] = data.data
						// 添加订单内容列表
						that.addOrderContent(that.foodList[index])
						that.$forceUpdate()
					}
				})
			},
			getCategory(id) {
				// 获取菜品类别列表
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/category/list?sellerId=" + id,
					method: "GET",
					success(res) {
						var data = res.data
						that.category = data.data
						// 遍历获取所有菜品列表，分别加入列表中，一个列表对于一类
						for (var i in that.category) {
							var cid = that.category[i].id
							var sid = that.itemId
							that.getFoodList(i, sid, cid)
						}
					}
				})
			},
			getItem() {
				let that = this
				uni.request({
					// 获取店铺信息
					url: urlHead + "/prod-api/api/takeout/seller/list?name=" + that.name,
					method: "GET",
					success(res) {
						var data = res.data.rows
						that.item = data[0]
						that.whetherCollect(that.item.id)
						that.itemId = that.item.id
						that.getCategory(that.itemId)
						that.getCommentList(that.itemId)
					}
				})
			},
			log(e) {
				this.tabindex = e.detail.current
			},
			whetherCollect(id) {
				let that = this
				uni.request({
					// 判断当前用户是否收藏店家
					url: urlHead + "/prod-api/api/takeout/collect/check?sellerId=" + that.item.id,
					method: "GET",
					header: {
						"Content-Type": "application/x-www-form-urlencoded",
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						console.log(JSON.stringify(data));
						that.isCollect = data.isCollect
						if (data.isCollect) {
							that.collectId = data.id
						}
					}
				})
			},
			collect(id) {
				if (this.isCollect) {
					// 取消收藏
					let collectid = this.collectId
					let that = this
					uni.request({
						url: urlHead + "/prod-api/api/takeout/collect/" + collectid,
						method: "DELETE",
						header: {
							"Content-Type": "x-www-form-urlencoded",
							"Authorization": uni.getStorageSync("Authorization")
						},
						success(res) {
							var data = res.data
							if (data.code == 200) {
								uni.showToast({
									icon: "none",
									title: "已取消收藏"
								})
								that.whetherCollect()
							}
						}
					})
				} else {
					// 收藏
					uni.request({
						url: urlHead + "/prod-api/api/takeout/collect",
						method: "POST",
						header: {
							"Content-Type": "application/json",
							"Authorization": uni.getStorageSync("Authorization")
						},
						data: JSON.stringify({
							"sellerId": id
						}),
						success(res) {
							var data = res.data
							if (data.code == 200) {}
							uni.showToast({
								icon: (data.code == 200) ? "success" : "error",
								title: data.msg
							})
						}
					})
					this.whetherCollect()
				}
				location.reload()

			},
			isLogin() {
				this.islogin = uni.getStorageSync("isLogin")
				if (this.islogin) {
					return
				}
				uni.redirectTo({
					url: "../login"
				})
			},
			getImgUrl(item) {
				// 图片加载
				return urlHead + item;
			}
		}
	}
</script>

<style>
	.settlement {
		width: 20%;
		text-align: center;
		padding-top: 36rpx;
		background-color: #66ccff;
		color: #FFFFFF;
		font-weight: bold;
	}

	.unhas {
		width: 80%;
		text-align: center;
		padding-top: 36rpx;
		background-color: #7d7d7d;
	}

	.has {
		width: 80%;
		text-align: center;
		padding-top: 36rpx;
		background-color: #ffff00;
	}

	.useravatar {
		width: 128rpx;
		height: 128rpx;
		border-radius: 64rpx;
		overflow: hidden;
	}

	.foodItem {
		display: flex;
		margin: 24rpx;
	}

	.categoryItem {
		width: 100%;
		height: 48rpx;
		border-bottom: #007AFF dashed 1rpx;
		padding-top: 6rpx;
	}

	.categoryItem_s {
		width: 100%;
		height: 48rpx;
		border-bottom: #007AFF dashed 1rpx;
		padding-top: 6rpx;
		background-color: #FFFFFF;
	}

	.foodList {
		width: 70%;
		text-align: center;
		font-size: 24rpx;
	}

	.foodCategory {
		background-color: #999999;
		height: 100%;
		width: 30%;
		text-align: center;
	}

	.tab {
		width: 90%;
		text-align: center;
		display: flex;
		margin: 24rpx;
	}

	.collect {
		display: flex;
		margin-top: 16rpx;
		margin-left: 48rpx;
	}

	.top {
		margin-left: 48rpx;
		display: flex;
	}

	.top_text {
		margin: 24rpx 12rpx;
		font-size: 32rpx;
	}
</style>
