<template>
	<view style="margin:48rpx;">
		<view>
			<block v-for="(item,index) in shopList" :key="index">
				<view style="display: flex;margin-top: 48rpx;" @click="shopmore(item)">
					<image :src="getImgUrl(item.imgUrl)" mode="scaleToFill" style="width: 320rpx;height: 200rpx;" />
					<view style="margin: 12rpx;">
						<text style="font-size: 28rpx;font-weight: bold;">{{item.name}}</text>
						<view style="position: absolute;right: 64rpx;font-size:18rpx;">评分：{{item.score}}</view>
						<view style="font-size: 18rpx;">月销量：{{item.saleQuantity}}</view>
						<view style="font-size: 18rpx;">配送时间：{{item.deliveryTime}}分钟</view>
						<view style="font-size: 18rpx;">距离：{{item.distance}}m</view>
						<view style="font-size: 18rpx;">人均消费：{{item.avgCost}}元</view>
					</view>
				</view>
			</block>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				typeid: 1,
				shopList: []
			}
		},
		onLoad(option) {
			if (option.themeid != null) {
				this.typeid = option.themeid
			}
			this.getList()
		},
		methods: {
			shopmore(item) {
				console.log(item);
				uni.navigateTo({
					url: "takeout_shop?name=" + item.name
				})
			},
			getList() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/takeout/seller/list?themeId=" + that.typeid,
					method: "GET",
					success(res) {
						var data = res.data.rows
						that.shopList = data
					}
				})
			},
			getImgUrl(item) {
				return urlHead + item;
			}
		}
	}
</script>

<style>

</style>
