<template>
	<view>
		<text class="serviceTitle">新闻专栏</text>
		<scroll-view scroll-x style="white-space: nowrap;height: 50rpx;padding:0 24rpx;flex-direction: row;">
			<block v-for="(item,index) in tabList" :key="index">
				<text @click="choose(item.id)" class="itemTab" v-if="item.id != type">{{item.name}}</text>
				<text @click="choose(item.id)" class="itemTab itemTabSelect" v-else>{{item.name}}</text>
			</block>
		</scroll-view>
		<view style="margin: 24rpx;">
			<block v-for="(item,index) in newDataList" :key="item.id">
				<view style="margin: 24rpx;" @click="goToNewItem(item.id)">
					<view style="display: flex;">
						<img :src="getImgUrl(item.cover)" mode="aspectFit" style="height: 180rpx;width: 250rpx;" />
						<view style="margin:0 16rpx;">
							<text style="font-size: 32rpx;">{{item.title.slice(0,11)}}……</text>
							<rich-text style="margin: 16rpx 0; font-size: 24rpx;"
								:nodes="item.content.slice(0,40)+'……'"></rich-text>
						</view>
					</view>
					<text style="font-size: 24rpx;">评论总数：{{item.commentNum>0 ? item.commentNum : 0}}</text>
					<text style="font-size: 24rpx;float: right;">发布时间：{{item.publishDate}}</text>
				</view>
			</block>
		</view>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				tabList: [],
				newDataList: [],
				type: 0
			}
		},
		onLoad() {
			this.getAllNewsTab();
		},
		methods: {
			goToNewItem(index) {
				uni.navigateTo({
					url: "../home/item_new?id=" + index
				})
			},
			choose(index) {
				this.type = index
				this.getNewList(this.type);
			},
			// 获取新闻列表
			getNewList(type) {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/press/press/list?type=" + type,
					method: "GET",
					success(res) {
						var data = res.data
						that.newDataList = data.rows
					}
				})
			},
			// 获取新闻分类
			getAllNewsTab() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/press/category/list",
					method: "GET",
					success(res) {
						var data = res.data
						that.tabList = data.data
						that.type = that.tabList[0].id;
						that.getNewList(that.type);
					}
				})
			},
			getImgUrl(item) {
				return urlHead + item;
			}
		}

	}
</script>

<style>
	.serviceTitle {
		font-size: 36rpx;
		margin: 48rpx;
		font-weight: bold;
	}

	.itemTab {
		margin: 0 32rpx;
	}

	.itemTabSelect {
		color: #007AFF;
		border-bottom-color: #007AFF;
		border-bottom-width: 4rpx;
	}
</style>
