<template>
	<view>
		<view class="functionList">
			<image class="userHead" :src="getImageUrl(userInfo.avatar)" mode="scaleToFill" />
			<view>{{userInfo.nickName}}</view>
		</view>
		<!-- {{userInfo}} -->
		<view class="functionList">
			<block v-for="(item,index) in functions" :key="index">
				<view style="display: flex;" @click="jumpTo(item.type)">
					<image :src="item.icon" style="width: 100rpx;height: 100rpx;margin-right: 24rpx;" />
					<text class="functionItem">{{item.name}}</text>
				</view>
			</block>
		</view>
		<button @click="logout">退出</button>
	</view>
</template>

<script>
	const urlHead = getApp().globalData.urlHead;
	export default {
		data() {
			return {
				functions: [{
					type: "addressMana",
					icon: "/static/addressMana.png",
					name: "地址管理"
				}, {
					type: "collect",
					icon: "/static/collect.png",
					name: "我的收藏"
				}, {
					type: "order",
					icon: "/static/order.png",
					name: "我的订单"
				}],
				userInfo: []
			}
		},
		onShow() {
			this.getUserInfo()
		},
		methods: {
			jumpToLogin() {
				// 登录跳转
				this.isLogin = uni.getStorageSync("isLogin")
				if (this.isLogin) {
					return
				}
				console.log("未登录");
				uni.navigateTo({
					url: "../home/login"
				})
			},
			getUserInfo() {
				let that = this
				uni.request({
					url: urlHead + "/prod-api/api/common/user/getInfo",
					method: "GET",
					header: {
						"Authorization": uni.getStorageSync("Authorization")
					},
					success(res) {
						var data = res.data
						console.log(JSON.stringify(data));
						if (data.code == 401) {
							uni.setStorage({
								key: "isLogin",
								data: false
							})
							that.jumpToLogin()
						}
						that.userInfo = data.user
					}
				})
			},
			logout() {
				uni.redirectTo({
					url: '../login'
				})
			},
			jumpTo(item) {
				this.$emit("type", item)
			},
			getImageUrl(index) {
				if(index==null){
					return 
				}
				if (index.search("/prod-api") == -1) {
					index = "/prod-api" + index
				}
				return urlHead + index
			}
		}
	}
</script>

<style>
	.functionItem {
		height: 100rpx;
		margin-top: 24rpx;
		font-size: 48rpx;
		font-weight: bold;
	}

	.functionList {
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	.userHead {
		width: 200rpx;
		height: 200rpx;
		border-radius: 50%;
	}
</style>
